<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>展装设计师邀请函_一路展展装网_手机版</title>
    <meta name="description" content="一路展展装原本如此轻松~一路展是专注展览设计与搭建的展装O2O平台，一路展通过对展装行业产业链重构和平台的保障及评价体系，直接提高参展商、设计师、工厂三方的效率与价值。">
    <meta name="Keywords" content="一路展,展览设计,展装O2O,产业链重构,评价体系,参展商,设计师,工厂">
    <{include file="mobile:block/header.html"}>
</head>
<body>
<div data-role="page" id="pageYqxAd" class="page1" data-dom-cache="false" data-title="展装设计师邀请函_一路展展装网_手机版">


    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-fullscreen="true"
         class="header adPageHeader">
        <a href="#" data-direction="reverse" data-rel="back" class="ui-btn iconfont icon-jiantou"></a>

        <h1><i class="designerNum"></i></h1>
        <!--<a href="search.html" data-transition="slide" class="ui-btn iconfont icon-search"></a>-->
        <div id="audioBtn" class="audio-btn">
            <audio loop src="//www.jisunet.com/mobile/img/yqx/designer/audio.mp3" id="media" autoplay preload></audio>
        </div>
    </div>
    <div data-role="main" class="oemMain">


        <div class="swiper-container" id="sjs1312312312" data-myswiper="true">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s1-bg.png" />
                    <div class="s1-nrC">
                        <img class="s1-nr" src="//www.jisunet.com/mobile/img/yqx/designer/s1-nr.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s2-bg.png" />
                    <div class="s2-nrC">
                        <img class="s2-logo" src="//www.jisunet.com/mobile/img/yqx/designer/s2-logo.png" />
                        <p class="s2-p">www.jisunet.com</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s3-bg.jpg" />
                    <div class="s3-nrC">
                        <img class="s3-wz1" src="//www.jisunet.com/mobile/img/yqx/designer/s3-wz1.png" />
                        <img class="s3-wz2" src="//www.jisunet.com/mobile/img/yqx/designer/s3-wz2.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s4-bg.jpg" />
                    <div class="s4-nrC">
                        <img class="s4-wz1" src="//www.jisunet.com/mobile/img/yqx/designer/s4-wz1.png" />
                        <img class="s4-wz2" src="//www.jisunet.com/mobile/img/yqx/designer/s4-wz2.png" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s5-bg.jpg" />
                    <img class="s5-wz1" src="//www.jisunet.com/mobile/img/yqx/designer/s5-wz1.png" />
                    <img class="s5-p1" src="//www.jisunet.com/mobile/img/yqx/designer/s5-p1.png" />
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s6-bg.png" />
                    <img class="s6-wz" src="//www.jisunet.com/mobile/img/yqx/designer/s6-wz.png" />
                    <img class="s6-n" src="//www.jisunet.com/mobile/img/yqx/designer/s6-n.png" />
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s7-bg.png" />
                    <img class="s7-wz" src="//www.jisunet.com/mobile/img/yqx/designer/s7-wz.png" />
                    <img class="s7-n" src="//www.jisunet.com/mobile/img/yqx/designer/s7-n.png" />
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s8-bg.jpg" />
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s8-wz.png" class="s8-wz">
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s8-n.png" class="s8-n">
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s9-bg.jpg" />
                    <img class="s9-n1" src="//www.jisunet.com/mobile/img/yqx/designer/s9-n1.png" />
                    <img class="s9-n" src="//www.jisunet.com/mobile/img/yqx/designer/s9-n.png" />
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s10-bg.png" />
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s10-wz.png" class="s10-wz">
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s10-nr.png" class="s10-n">
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s11-bg.jpg" />
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s11-wz.png" class="s11-wz">
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s11-n.png" class="s11-n" />
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s12-bg.jpg" />
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s12-n.png" class="s12-n">
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s12-wz.png" class="s12-wz">
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s13-bg.jpg" />
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s13-n.png" class="s13-n">
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s13-wz.png" class="s13-wz">
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s14-bg.png" />
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s14-wz.png" class="s14-wz">
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s14-n.png" class="s14-n">
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s15-bg.jpg" />
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s15-wz.png" class="s15-wz">
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s16-bg.jpg" />
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s16-wz.png" class="s16-wz">
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s16-n.png" class="s16-n">
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s17-bg.png" />
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s17-wz.png" class="s17-wz">
                    <p class="s17-c">一路展O2O平台</p>
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s17-bg.png" />
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s18-n1.png" class="s18-n1">
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s18-n2.png" class="s18-n2">
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s18-wz.png" class="s18-wz">
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s17-bg.png" />
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s19-wz.png" class="s19-wz">
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s19-n.png" class="s19-n">
                </div>
                <div class="swiper-slide">
                    <img class="s1-bg" src="//www.jisunet.com/mobile/img/yqx/designer/s2-bg.png" />
                    <img src="//www.jisunet.com/mobile/img/yqx/designer/s20-wz.png" class="s20-wz">
                    <a class="s20-n" href="/user-regone-designer.html">加入我们</a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</div>
<{include file="mobile:block/bottom.html"}>
</body>
</html>