<div class="bottom">
    <ul>
        <li><a href="<{link ctl='index'}>"><i class="iconfont">&#xe62f;</i><span>项目</span></a></li>
        <li><a href="<{link ctl='designer'}>"><i class="iconfont">&#xe72e;</i><span>技术</span></a></li>
        <li><a href="javascript:void(0);"><img src="/img/index_19.png"></a></li>
        <li><a href="<{link ctl='index'}>"><i class="iconfont">&#xe627;</i><span>更多</span></a></li>
        <li><a href="<{link ctl='member/designer:index'}>"><i class="iconfont">&#xe619;</i><span>我的</span></a></li>
    </ul>
</div>