<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>干点活-身边的技术合伙人</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui"/>
<meta name="apple-touch-fullscreen" content="YES"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<script src="/js/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" href="/css/common.css"/>
<link rel="stylesheet" href="/css/index/iconfont.css"/>
<link rel="stylesheet" href="/css/myTheme.css"/>