 <div data-role="panel" data-display="overlay" data-position="right" id="article3-menu">
        <h1>快速导航</h1>
        <ul data-role="listview">
            <li><a href="<{link ctl='index'}>">一路展首页</a></li>
            <li><a href="<{link ctl='chao:index'}>">特装超市</a></li>
            <li><a href="<{link ctl='oem/index'}>">OEM</a></li>
            <li><a href="<{link ctl='sheji/index'}>">找设计师</a></li>
            <li><a href="<{link ctl='gong:index'}>">搭建工厂</a></li>
            <li><a href="<{link ctl='zhan:index'}>">行业展会</a></li>
            <li><a href="<{link ctl='news:index'}>">展会资讯</a></li>
            <li><a href="<{link ctl='guan:index'}>">展馆信息</a></li>
        </ul>
    </div>
    