<{include file="mobile:block/header.html"}>
<div data-role="page" id="pageAd" class="page1" data-dom-cache="false" data-title="展商引导页">


    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-fullscreen="true"
         class="header adPageHeader">
        <a href="#" data-direction="reverse" data-rel="back" class="ui-btn iconfont icon-jiantou"></a>

        <h1><i class="designerNum"></i></h1>
        <!--<a href="search.html" data-transition="slide" class="ui-btn iconfont icon-search"></a>-->

    </div>
    <div data-role="main" class="oemMain">

        <div class="swiper-container" id="sjs1312312312" data-myswiper="true">
            <div class="swiper-wrapper">
                <ul class="swiper-slide mainConAd">
                    <li class="screen1 mainConAd-item">
                        <div class="nr wz"><img src="//www.jisunet.com/mobile/img/ad/czs1-wz.png"/> </div>
                        <div class="nr sjsBj"><img src="//www.jisunet.com/mobile/img/ad/czs1-bg.png"/></div>
                        <div class="adZcBtn"><a href="<{link ctl='user:regone' arg0='shang'}>">我要注册</a></div>
                        <div class="s-ico"><img src="//www.jisunet.com/mobile/img/ad/s-ico.png" /></div>
                    </li>
                </ul>
                <ul class="swiper-slide mainConAd">
                    <li class="screen2 mainConAd-item">
                        <div class="nr wz"><img src="//www.jisunet.com/mobile/img/ad/czs2-wz.png"/> </div>
                        <div class="nr sjsBj"><img src="//www.jisunet.com/mobile/img/ad/czs2-bg.png"/></div>
                        <div class="adZcBtn"><a href="<{link ctl='user:regone' arg0='shang'}>">我要注册</a></div>
                        <div class="s-ico"><img src="//www.jisunet.com/mobile/img/ad/s-ico.png" /></div>
                    </li>
                </ul>
                <ul class="swiper-slide mainConAd">
                    <li class="screen3 mainConAd-item">
                        <div class="nr wz"><img src="//www.jisunet.com/mobile/img/ad/czs3-wz.png"/> </div>
                        <div class="nr sjsBj"><img src="//www.jisunet.com/mobile/img/ad/czs3-bg.png"/></div>
                        <div class="adZcBtn"><a href="<{link ctl='user:regone' arg0='shang'}>">我要注册</a></div>
                        <div class="s-ico"><img src="//www.jisunet.com/mobile/img/ad/s-ico.png" /></div>
                    </li>
                </ul>
                <ul class="swiper-slide mainConAd">
                    <li class="screen4 mainConAd-item">
                        <div class="nr wz"><img src="//www.jisunet.com/mobile/img/ad/czs4-wz.png"/> </div>
                        <div class="nr sjsBj"><img src="//www.jisunet.com/mobile/img/ad/czs4-bg.png"/></div>
                        <div class="adZcBtn"><a href="<{link ctl='user:regone' arg0='shang'}>">我要注册</a></div>
                        <div class="s-ico"><img src="//www.jisunet.com/mobile/img/ad/s-ico.png" /></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<{include file="mobile:block/bottom.html"}>
</body>
</html>