<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>干点活服务协议</title>
    <{include file="mobile:block/header.html"}>
</head>
<body>
<div data-role="page" id="pageArticle3" class="page1" data-dom-cache="true" data-title="干点活服务协议">


    <div data-role="header" data-position="fixed" class="header">
        <a href="#" data-direction="reverse" data-rel="back" class="ui-btn iconfont icon-del1
"></a>

        <h1>干点活服务协议</h1>

    </div>
    <div data-role="main">
        <div data-role="content" class="article-main">
            <div class="article-title">
                <div class="article-title-inner">
                    <h2>干点活服务协议</h2>
                </div>
            </div>
            <!-- 文章内容部分-->
            <div class="article2-details">
               <{$info.content}>
               
            </div>
        </div>
    </div>

</div>
<{include file="mobile:block/bottom.html"}>
</body>
</html>