<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><{$pager.from_title}>找回密码_一路展展装网</title>
    <{include file="mobile:block/header.html"}>
</head>
<body>
<div data-role="page" id="pageReg" class="page1 regMain" data-dom-cache="false" data-title="<{$pager.from_title}>找回密码_一路展展装网">

    <div data-role="header" data-position="fixed" data-tap-toggle="false" class="header">
        <a href="#" data-direction="reverse" data-rel="back" class="ui-btn iconfont icon-jiantou"></a>
        <h1><{$pager.from_title}>找回密码</h1>
        <a href="<{link ctl='user:telcode' arg0=$pager.from}>" data-transition="slide" class="regBtnNext">下一步</a>
    </div>
    <div data-role="main">
        <form data-role="form" method="post" action="<{link ctl='user:telcode' arg0=$pager.from}>" id="regSep1" class="setp">
            <div class=" reg-fromInput">
                <label for="mobile"><span class="iconfont icon-phone"></span> </label>
                <input type="text" name="ylz[mobile]" id="mobile" placeholder="请输入注册时的手机号">
            </div>
            <div class="regCheck">
                我已阅读并同意一路展 <a href="#">《服务条款》</a>
            </div>
        </form>
        <div class="describe"></div>
    </div>

</div>

<{include file="mobile:block/bottom.html"}>
</body>
</html>