@charset "utf-8";
html {
	font-family: arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html,body{margin: 0;padding: 0;}
body {
    color: #8c8c8c;
    font-family: arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
}
body, button, input, select, textarea,h1, h2, h3, h4, h5, h6,* {
     font-family: arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
}
address, cite, dfn, em, var {
    font-style: normal;
}
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, 
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend{
	margin: 0px;
	padding: 0px;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display: block;
}
html,body {font-family: arial,"微软雅黑","Hiragino Sans GB",sans-serif;}
html {-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
body a,input,button{outline:none !important;blr:expression(this.onFocus=this.blur());}
textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus{border:1px solid #769f3c !important;}
input{vertical-align: middle;}
input.ria,input.ria:hover{border: none !important;}
input:hover{border: 1px solid #cac9c9;}
input.ria:hover{background: #91a144;cursor: pointer;}
button,input{outline: none;border: none;}
*:focus{outline: none;}
textarea{resize: none;border: none;}
img{max-width: 100%;border: none;vertical-align: top;}
a,a:hover{text-decoration: none;}
ul,li,ol{list-style: none;}
.clears{clear: both;}
.centerImg{display: table-cell;*display: block;*font-size: ;vertical-align: middle;text-align: center;}/*兼容底版本ie,font-size，为height的0.873*/
.centerImg img{vertical-align: middle;}
.CenterImgOut{display: table;*overflow: hidden;*position: relative;}
.CenterImgOut .CenterImgIn{*position: absolute;*top: 50%;display: table-cell;vertical-align: middle;}
.CenterImgOut .CenterImgIn .center{*position: relative;*top: -50%;text-align: center;}
.textImgSeparation{display:table-cell; *display:inline-block;}/*使用时要给img加个floatImg样式*/
.container:after,.container:before{display: table;content: "";line-height: 0;}
.container:after{clear: both;}
.container{*zoom: 1;}/*触发ie的hasLayout属性，清除浮动、清除margin的重叠等*/
.group{float: left;}/*子元素的宽度自己调整**/
.floatRight{float: right;}
div:after,.clearfix:after{display: block;content: ".";height: 0;clear: both;visibility: hidden;}
.fixLeft{position: relative;float: left;}
.fixRight{position: relative;float: right;}
.fix{position: relative;}
.parents{overflow: hidden;}/*使用overflow是为了解决父级高度不能撑开和溢出问题*/
.boxShadow{
	box-shadow: 0 2px 1px #c8c6c7;
	-webkit-box-shadow: 0 2px 1px #c8c6c7;
	-moz-box-shadow: 0 2px 1px #c8c6c7; 
	-o-box-shadow: 0 2px 1px #c8c6c7;
	-ms-box-shadow: 0 2px 1px #c8c6c7;
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=190, Color='#c8c6c7')",
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=190, Color='#c8c6c7');/*Direction=185*/
}
.boxShadowB{
	box-shadow: 0 2px 1px #c8c6c7;
	-webkit-box-shadow: 0 2px 1px #c8c6c7;
	-moz-box-shadow: 0 2px 1px #c8c6c7; 
	-o-box-shadow: 0 2px 1px #c8c6c7;
	-ms-box-shadow: 0 2px 1px #c8c6c7;
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=190, Color='#c8c6c7')",
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=190, Color='#c8c6c7');/*Direction=185*/
}
.fixedWidth{margin: 0 auto;width: 1140px;}
.displayNo {display: none !important;}
.fallImg{width: 100%;vertical-align: top;border:none;min-width: 1180px;}
/******模块背景色*******/
/*注册公司的流程*/
.bgWhite{background: #ffffff;}
/*办完之后会拿到哪些材料*/
.bgGray{background: #f0f0f0;}
/***********header****************/
.header{height: auto;width: 100%;float: left;z-index: 10;position: relative;}
.index09 .fallImg.imgTop{position: absolute;z-index: 1;left: 0; top: 0;height: 105px;}
.header.index09 .topNav{position: relative;z-index: 1000;}
.topNav{height: auto;width: 1180px;margin: 0 auto;}
.top,.navbar{width: 100%;float: left;}
.navbar .navFirst em,.navbar .subNav li a em{border-right:none;border-top:none;}
.navbar .navFirst em,.navbar .subNav li a em,.top em{height: 0;width: 0;display: inline-block; cursor: pointer; position: absolute;}
.subSeNav,.subNav{position: absolute;left: 0; z-index:0;}
/*top*/
.top{height: 60px;z-index: 1000;}
.top img{margin-top: 16px;}
.top > div{width: auto;line-height: 60px;height: 60px;}
.top > div h2,.top > div h4{width: auto;float: left;color: #727171;}
.top > div h2{font-size: 16px;padding-left: 28px;background: url("../Image/Knowledge/phone.png") no-repeat scroll left center;margin-right: 25px;}
.top > div h4{font-size: 12px;font-weight: normal;position: relative;}
.top > div h4 a{color: #727171;padding: 5px 15px;}
.top > div h4 a:hover{color: #00c9ff;}
.top > div h4 .regs{background: #f14b4b;color: #ffffff;}
.top > div h4 .regs:hover{background: #00c9ff;color: #ffffff;}
/*navbar*/
.navbar{height: 40px;}
.header.headerFixd{position: fixed;left: 0;top: 0;z-index: 999999;background: #ffffff;display: none;box-shadow:0 0 5px #929191;-ms-box-shadow:0 0 5px #929191;-webkit-box-shadow:0 0 5px #929191;-o-box-shadow:0 0 5px #929191;-moz-box-shadow:0 0 5px #929191;}
.navbar > a{float: left;display: inline-block;margin-top: 6px;}
.headerFixd .navLiFirst,.headerFixd .navLiFirst a{width: 100px;}
/* .headerFixd #navmenu > li{margin-left: 28px;} */
/*导航样式*/
.navLi{float: left;border: 0 none;height: 40px;line-height: 40px;list-style: outside none none;margin: 0 0 0 40px;padding: 0;position: relative;}
.navLi a{color: #727171;display: block;float: none;font-size: 18px;height: auto;line-height: 40px;text-align: center;width: 100px;}
.navLi > a:hover,.navLiSecond.current,.navLiSecond.current > a{background: #00c9ff;color: #ffffff;}
/*****创业服务产品******/
.navLiSecond{margin-left: 20px;}
.navLiSecond a{width: 165px;text-align: left;text-indent: 20px;}
.navLiSecond em{border-bottom: 12px solid #727171;border-left: 12px solid transparent;bottom: 11px;position: absolute;right: 18px;}
.navLiSecond a:hover em,.navLiSecond.current em{border-bottom: 12px solid #ffffff;}
/*二级*/
.navSeWrap{width: 771px;height: auto;overflow: hidden;position: absolute;top: 39px;left: -7px;height: 462px;display: none;z-index: 1;}
.bgLe,.bgRi,.navCont{height: 455px;}
.bgLe,.bgRi{width: 7px;}
.navContWrap{width: 771px;}
.navCont{width: 757px;background: #ffffff;}
.bgLe{background: url("../Image/le.png") no-repeat left bottom;}
.bgRi{background: url("../Image/ri.png") no-repeat right bottom;}
.navBot{background: url("../Image/bottom.png") no-repeat center top;height: 7px;width: 771px;}
/*内容*/
.navCont ul{overflow: hidden;height: auto;width: 252px;float: left;margin-top: 30px;color: #727171;text-align: left;}
.navCont li{float: left;width: 100%;height: auto;overflow: hidden;text-indent: 72px;text-align: left;}
.centerULl{border: 1px solid #e0e0e0;border-bottom: none;border-top: none;}
.navCont h3{font-size: 18px;line-height: 1;padding-bottom: 15px;margin-top: 15px;}
.navCont .firstH1{margin-top: 0;}
.navCont a{font-size: 14px;display: block;width: 100%;text-indent: 85px;text-align: left;line-height: 28px;position: relative;background: url("../Image/Header/abg.png") no-repeat 73px 14px;}
.navLi .navCont a:hover{background-color: none !important;color: #00c9ff; }

/******首页******/
.navLiFirst,.navLiFirst a{width: 280px;margin-left: 0;}
/*阴影*/
.noImgCurrent{position: relative;width: 100%;z-index: 5;min-width: 1180px;min-height: 5px;float: left;}
/*shopping*/
.shImg,.sh{float: left;height: 40px;line-height: 40px;}
.shImg{background: url("../Image/Knowledge/shoppingimg.png") no-repeat scroll left 9px;width: 24px;margin-left: 30px;}
.sh{font-size: 18px;color: #727171;font-weight: normal;margin: 0 40px 0 10px;}
.shOut{display: inline-block;margin-right: 10px;}
.shOut:hover{background: #00c9ff;}
.shOut:hover .shImg{background-position: left -49px;}
.shOut:hover .sh{color: #ffffff;}
/*登录后*/
.loginOk{top: -22px;}
.topIforList{height: auto;margin-top: 22px;}
.top .userManager{margin: -2px 15px 0 0;}
.topIforList li{float: left;height: 12px;line-height: 12px;padding: 0 18px;border-left: 1px solid #aaabaf;font-size: 12px;font-weight: normal;color: #595758;cursor: pointer;position: relative;}
.topIforList .defaultCursor{cursor: text;border: none;}
.topIforList strong{color: #727171;float: left;width: auto;background: url("../Image/Knowledge/phone.png") no-repeat scroll left center;font-size: 16px;padding-left: 28px;height: 18px;line-height: 18px;margin-top: -3px;}
.unreadnum{height: 20px;width: 20px;left: 0;position: relative;top: -4px;background: url("../Image/Knowledge/clock.png") no-repeat scroll left 0px;}
.unreadnum em{background: #f14b4b none repeat scroll 0 0;border: medium none;border-radius: 46%;color: #ffffff;cursor: pointer;display: inline-block;font-size: 10px;height: 14px;left: 11px;line-height: 14px;position: absolute;text-align: center;top: -6px;width: 22px;}
.topIforList i{background: url("../Image/triangle.png") no-repeat scroll 0 0;cursor: default;display: inline-block;height: 4px;left: 8px;margin-right: 9px;position: relative;top: -5px;width: 8px;}
.clickDivs{left: 0;top: 27px;height: 342px;width: 242px;}
.clickRealname,.clickDivs{position: absolute;background: #ffffff;border: 1px solid #d6d1d7;z-index: 999999;display: none;}
.clickDivs .triangles,.clickRealname .triangles{position: absolute;top: -10px;left: 64px;display: inline-block;height: 10px;width: 19px;background: url("../Image/triangles.png") no-repeat scroll center 1px;}
.clickDivs ol{overflow: hidden;height: auto;}
.clickDivs li{padding: 0;line-height: normal;height: auto;border: none;width: 100%;cursor: text;text-align: center;}
.topLiFirst{margin-bottom: 24px;}
.topConts div{margin: 6px 0;text-align: center;display: inline-block;}
.clickDivs .pavatarImg,.clickDivs .prfectImg{margin-top: 0;}
.clickDivs .prfectImg{width: 240px;height: 125px;margin-top: 3px;}
.clickDivs .pavatarImg{width: 80px;height: 80px;margin: 26px 0 0 22px;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%;border-radius: 50%;}
.clickDivs .textImgSeparation{padding-top: 40px;}
.top .clickDivs h4{padding-left: 20px;font-size: 18px;color: #727171;display: inline-block;font-weight: bold;line-height: 1;}
.clickDivs a{display: inline-block;width: 112px;height: 30px;margin: 14px 0 0 0;background: url("../Image/topabut.png") no-repeat scroll left 0px;}
.clickDivs a:hover{background-position: left -40px;}
.topConts span{float: left;} 
.topc-center{height: 11px;background: #a9a7a8;width: 1px;margin: 5px 15px 0;}
.topConts em{display: inline-block;position: inherit;margin-right: 10px;background: url("../Image/managericon.png") no-repeat scroll 0 0px;}
.topConts .topc-email{background-position: -1px -41px;height: 12px;width: 17px;}
.topConts .topc-mobile{background-position: -2px -82px;height: 15px;width: 9px;}
.topConts .topc-qq{background-position: -1px -2px;height: 17px;width: 16px;}
.clickRealname{height: auto;width: 140px;right: 0px;top: 27px;}
.clickRealname a{color: #727171;display: block;font-size: 12px;height: 40px;line-height: 40px;padding: 0;text-align: left;text-indent: 56px;width: 100%;}
.clickRealname .l-user {background: url("../Image/Knowledge/lockpopimg.png") no-repeat scroll 20px 8px;border-bottom: 1px solid #c5c5c5;margin-top: 6px;}
.clickRealname .l-back {background: url("../Image/Knowledge/lockpopimg.png") no-repeat scroll 20px -58px;}
.clickRealname a:hover{background-color: #00c9ff;color: #ffffff;}
.clickRealname .l-user:hover{background-position: 20px -120px;}
.clickRealname .l-back:hover{background-position: 20px -190px;}
.topIforList > a{color: #727171;padding: 5px 15px;font-size: 12px;position: relative;top: -25px;}
.topIforList > a:hover{color: #00c9ff;}
.topIforList .regs {background: #f14b4b none repeat scroll 0 0;color: #ffffff;}
.topIforList .regs:hover{background: #00c9ff;color: #ffffff;}
/***************************产品页窄导航*******************/
.productNav .floatRight a{background: #f14b4b;color: #ffffff;display: inline-block;padding: 0 30px;height: 33px;line-height: 33px;margin: 10px 0;font-size: 14px;} 
.productNav .floatRight a:hover{background: #00c9ff;}
.productNav .floatRight .frBut{margin-left: 10px;background: #00c9ff;}
.productNav .floatRight .frBut:hover{background: #00aad7;}
.productNav ul{margin-top: 15px;overflow: hidden;height: auto;}
.productNav li{float: left;}
.productNav li a{color: #727171;font-size: 18px; height: 40px;line-height: 40px;padding: 0 25px; display: inline-block;}
.productNav li a:hover{background: #00c9ff;color: #ffffff;}
.productNav .pLe{margin-top: 10px;padding-left: 40px;}
.productNav .textImgSeparation{width: 180px;font-size: 14px;font-size: 14px;padding-left: 10px;}
.productNav .textImgSeparation h2{color: #595758;font-size: 14px;}
.productNav .textImgSeparation span{color: #f14b4b;display: inline-block;width: 100%;text-align: left;line-height: 1.5;}

/******************分页公用样式*****************************/
.wrapPage {height: 32px;margin: 25px 0;text-align: center;width: 870px;}
.pagesm {display: inline-block;margin: 0 auto;text-align: center;width: auto;}
.wrapPage .pagesm a {border: 1px solid #ccc;color: #666;display: inline-block;float: left;height: 30px;line-height: 30px;margin-left: -1px;padding: 0 10px;text-decoration: none;}
.pagesm a.next {margin: 0 0 0 -1px;padding: 0 10px;}
.next {background: #fafafa;margin: 20px 0;padding: 18px 0;}
.pagesm span.rows {display: inline-block;height: 30px;line-height: 30px;margin-left: 15px;margin-top: 0;padding: 0;}
.rows {display: inline-block;float: left;margin-top: 10px;padding: 6px 12px;}
.pagesm a.on, .pagesm a.on:hover, .pagesm a:hover {background-color: #428bca;border-color: #428bca;color: #ffffff;}

/********************选项卡基础样式***************/
.Shareholder-table{margin:0 auto 20px;width: 100%;}
.Shareholder-table-text{clear: both;width: auto;margin-right: 10px;border-top: 1px solid #b0ca6c;background: #ffffff;}
.Shareholder-table li{float: left;margin-right: 8px;padding: 10px 25px;position: relative;text-align: center;top: 0px;background: #ffffff;color: #4b4b4b;font-size: 14px;cursor: pointer;}
.Shareholder-table li:hover{background: #ffffff;color: #4b4b4b;position: relative;top: 0px;padding: 7px 25px;border-top: 5px solid #b0ca6c;}
.Shareholder-table-text div.state{text-align: center;display: none;}
.Shareholder-table li.colorChange{background: #b0ca6c;padding: 10px 25px;position: relative;border: none;top: 0;color: #ffffff;text-align: left;}
.Shareholder-table-text div.tableShow{display: block;}
.Shareholder-table .state{text-align: center;display: none;height: auto;}
.Shareholder-table .showCont{display: block;}
/*************用户中心和home的背景色**************/
/* body{background: #ebebeb;} */

/**************支付完成**************************/
.btn-pay-success, .btn-pay-error{width:120px;padding:10px;margin-right:20px;cursor: pointer;}
.btn-pay-success{background-color:#9bbe69;color:#fff;cursor: pointer;}
.btn-pay-error{background-color:#fff;border:1px solid #ccc}
.btn-pay-success:hover{background: #769f3c;}
.btn-pay-error:hover{background: #e8e8e8;}
/*select*/
.selHeight {border: 1px solid #cac9c9;float: left;height: 35px;line-height: 35px;min-width: 100px;text-indent: 6px;}
option.optHeight {padding: 5px 0;text-indent: 8px;vertical-align: middle;}

/***********************************************/
.titleRed {color: #d73838 !important;}
.annotation {color: #a1c2cf;font-size: 12px;line-height: 25px;margin-bottom: 8px;margin-left: 136px;margin-top: -12px;padding-right: 222px;text-align: left;}

/************页脚**************/
.footer-index{ min-width: 1180px; width: 100%;float: left;background: #595757;text-align: center;font-size: 14px;color: #f5f5f5;font-weight: bold;padding: 50px 0;}
.footer{ min-width: 1180px; width: 100%;float: left;text-align: center;font-size: 14px;color: #666;padding: 25px 0;border-top:1px solid #f5f5f5;}
.f-link a{color: #f5f5f5;font-weight: normal;border-right:1px solid #f5f5f5; padding-right: 5px;padding-left: 2px; height: 17px;line-height: 17px;}
.f-link a:hover{color: #7fe4ff;}
.f-link .lnoBorder{border-right:none; padding-right: 0;}
.footer-index span{display: inline-block;width: 100%;font-weight: normal;margin-top: 20px;}
.footer-index span a{color: #f5f5f5;}
.footer-index span a:hover{color: #7fe4ff;}

/*******返回顶部、我要投诉***********/
.backTop{
	width: 50px;
	position: fixed;
	bottom: 85px;
	right: 20px;
	z-index: 99999;
	height: auto;
}
.backTop > a > div{
	background: url("../Image/top.png") no-repeat scroll 0 0;
    display: block;
    height: 50px;
    outline: medium none;
    position: relative;
    width: 50px;
}
.backTop .complainLe{
	display: none;
}
.backTop .complainLe > div{
	background-position: 0 0;
	margin-bottom: 5px;
	-webkit-transition: background-position 0.15s ease 0s;
	-moz-transition: background-position 0.15s ease 0s;
	-ms-transition: background-position 0.15s ease 0s;
	-o-transition: background-position 0.15s ease 0s;
	transition: background-position 0.15s ease 0s;
}
.backTop .complainRi > div{
	background-position: 0 -102px;
	-webkit-transition: width 0.5s ease 0s left: 60px;
	-moz-transition: width 0.5s ease 0s left: 60px;
	-ms-transition: width 0.5s ease 0s left: 60px;
	-o-transition: width 0.5s ease 0s left: 60px;
	transition: width 0.5s ease 0s left: 60px;
}
.backTop .complainLe:hover > div{background-position: 0 -51px;}
.backTop .complainRi:hover > div{background-position: 0 -153px;left: -60px;width: 110px;}
.backTop .complainRi.current > div,.backTop .complainRi.current:hover > div{
	background-position: 0 -204px;
	left: 0px;
}
.complainAsk{
	width: 345px;
	height: 230px;
	background: #e5e5e5;
	position: absolute;
	margin-left: -345px;
    margin-top: -230px;
	background: url("../Image/backdiv.png") repeat scroll 0 0;
	display: none;
	z-index: 99999;
	padding: 10px;
}
.complainAsk form{display: inline-block;}
.complainAsk img{
	display: block;
	width: 50px;
	height: 50px;
}
.complainAsk textarea{
	height: 120px;
	width: 320px;
	font-size: 14px;
	color: #7d7d7d;
	line-height: 1.5;
	padding: 10px;
	border:none;
	outline: none;
	margin: 0;
}
.complainAsk textarea:focus,.complainAsk textarea:hover{
	border: none !important;
}
.complainAsk input[type="text"],.complainAsk input[type="text"]:focus,.complainAsk input[type="text"]:hover{
	border: 1px solid  #ffffff !important;
}
.complainAsk input[type="text"].complainError{
	border: 1px solid  red !important;	
}
.complainAsk div{
	margin-top: 10px;
	width: 320px;
	float: left;
	background: #ffffff;
}
.complainAsk a{
	display: inline-block;
	background: #57c5a9;
	height: 30px;
	line-height: 30px;
	padding: 0 20px;
	font-size: 16px;
	text-align: center;
	color: #ffffff;
}
.complainAsk input[type="text"]{
    color: #7d7d7d;
    display: block;
    float: left;
    font-size: 14px;
    padding: 6px 10px;
    position: relative;
    width: 248px;
    text-align: left;
}
.ask-show{
	width: 240px;
	height: 150px;
	margin-left: -240px;
	margin-top: -106px;
	height: auto;
}
.ask-show div{
	width: 222px;
	height: 86px;
	background: #ffffff;
	margin-top: 0;
	padding-top: 20px;
}
.ask-show p{
	text-align: center;
	font-size: 14px;
	color: #7d7d7d;
	line-height: 1.5;
}
#complainColose{
	display: inline-block;
	width: 15px;
	height: 15px;
	position: absolute;
	right: 15px;
	top: 10px;
	cursor: pointer;
	padding: 0;
	background: url("../Image/top.png") no-repeat scroll 2px -321px;
}
#complainColose:hover{
	background-position: 2px -273px;
}
/*********form input**********/
.inputLayout{
	overflow: hidden;
	height: auto;
	list-style: none;
}
.inputLayout li{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.form-label{
    color: #000000;
    display: block;
    float: left;
    font-size: 14px;
    height: 35px;
    line-height:35px;
    text-align: right;
    width: auto;
}
.form-input{
    border: 1px solid #ddd;
    color: #666;
    display: block;
    float: left;
    font-size: 14px;
    padding: 8px 10px;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.checkbox-input,.forget-pass{
	width: auto;
	font-size: 12px;
	vertical-align: middle;
}
.form-panel b{
	color: #d73838;
	font-size: 18px;
	color: #d73838;
    font-size: 18px;
    position: relative;
    right: 3px;
    top: 5px;
}
.checkbox-input{
	cursor: pointer;
}
.checkbox-input input,.choose-account input{
	border: none;
	outline: none;
	cursor: pointer;
}
.form-buttom{
	background: #9abe69;
    color: #ffffff;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 70px;
    float: left;
}
.form-buttom:hover{

}
/*******错识信息******/
h4.validateForm{
	font-size: 12px;
	color: #d73838;
	background: green;
	height: 15px;
	line-height: 15px;
	padding-left: 20px;
	display: block;
	text-align: left;
	background: url("../Image/error.jpg") no-repeat scroll left center;
}
h4.mlForm{
    margin: 15px 0 15px 105px;
}
h4.uProfile{
    margin: 15px 0 15px 160px;
}
h4.cjoinForm{
    margin: 15px 0 15px 130px;
}
h4.uMaterials{
	margin: 15px 0 15px 125px;
	background: none;
	padding-left: 0;
}
.formValidates h4.uMaterials{
    margin-left: 125px;
    width: 100%;
   	float: left;
   	margin-bottom: 0;
}
h4.validateForm-nobg{
	color: #d73838;
    float: left;
    font-size: 12px;
    margin-top: 10px;
    width: 100%;
}
.text-input.input-disabled,.text-input.input-disabled:hover,.text-input.input-disabled:focus{
	background: none;
	border:none;
}

/*登录块*/
.form-panel li{
	margin-top: 20px;
}
.form-label{
	width: 105px;
}
.text-input,.pass-input{
	width: 285px;
}
.forget-pass{
	margin-left: 102px;
	color: #00abe3;
}
.checkbox-input,.form-buttom,.ser-aget {
	margin-left: 105px;
}
.ui-dialog-body .llMain{
	border: none;
	margin: 0;
	padding-top: 0; 
	width: 830px;
}
.ui-dialog-body .mlLe{
	margin-left: 30px;
}
.ui-dialog-body .mlRi{
	width: 320px;
}
.eventTopA{
	display:inline-block;
	text-align:center;
	width:100%;
	height: 40px;
	min-width: 1180px;
	position: relative;
}
.eventTopA img,.eventTopA div{
	height: 40px;
	margin: 0 auto;
	width: 1180px;
}
.eventTopA div{
	position: absolute;
	width: 1180px;
	left: 50%;
	margin-left: -590px;
	top: 0;
}
.photoSrcClick{
	display: inline-block;
	width: 60px;
	height: 40px;
	float: right;
	margin-right: 4px;
    width: 35px;
}
/**找回密码**/
/**输入手机号*/
.web-login-pass {
    border-bottom: 2px solid #dbdbdb;
    height: 30px;
    line-height: 30px;
    margin: 26px auto 0;
    text-align: center;
    width: 95%;
}
.web-login-pass a {
    color: #dbdbdb;
    display: inline-block;
    font-size: 14px;
    padding: 0 30px 0 55px;
    position: relative;
    top: -3px;
}
.back-pass{
	width: 390px;
	margin: 55px auto 0;
	height: auto;
	overflow: hidden;
}
/*输入验证码和设置新密码*/
.web-login-pass a.pass-4.pass-44,.web-login-pass a.pass-3.pass-33,.web-login-pass a.pass-2.pass-22{
    border-bottom: 2px solid #00abe3;
    color: #00abe3;
}
.web-login-pass a.pass-2.pass-22 {background: url("../Image/Password/pass-2.png") no-repeat scroll 30px 8px;}
.web-login-pass a.pass-2 {
    background: url("../Image/Password/pass-22.png") no-repeat scroll 30px 8px;
    border-bottom: medium none;
    color: #dbdbdb;
}
/*验证码*/
.pass-input.verification{
	width: 110px;
}
.form-panel .ver-img {
    height: 35px;
    width: 90px;
    float: left;
    margin: 0 10px 0 18px;
}
.form-panel .notSee{
	font-size: 12px;
	height: 35px;
	line-height: 35px;
	float: left;
	color: #00abe3;
}

.navPrece .pRed{background: #f14b4b;}
.navPrece .pYellow{background: #faa900;}
.navPrece .pGreent{background: #37c056;}
.verificationCode{
    background: #efefef none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #4b4b4b;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 135px;
}
.verificationCode:hover,.verificationCode.verActive{
	background: #efefef;
}
.verCodePrompt{
	float: left;
	font-size: 14px;
	color: #4b4b4b;
	height: 35px;
	line-height: 35px;
	text-align: left;
	display: inline-block;
}
.verCodePromptSort{
	width: 105px;
}
.msh3 {
    color: #595757;
    padding: 70px 0 42px;
    text-align: center;
}
.m-i-h .newsh3{
	color: #595757;
    padding: 70px 0 42px;
    text-align: center;
    font-size: 24px;
    line-height: 1.8;
    font-weight: bold;
    margin: 0;
}
.m-i-h .newsh3-3{
	color: #fd6769;
    font-size: 44px;
    line-height: normal;
    margin: 60px 0 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
}
.m-i-h .newsh3.newsh3Color{
	color: #ffffff;
}
.hotNew{
	position: absolute;
    right: -3px;
    top: 0;
}
.chaxun{
	background: #00c9ff none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-left: 394px;
    margin-top: 430px;
    text-align: center;
    width: 125px;
    font-size: 18px;
}
.chaxun:hover{
	background: #00aad7;
}
/******商标查询块********/
.sTopImg {
    float: left;
    margin-top: -100px;
    min-width: 1180px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.sCont{
    clear: both;
    height: auto;
    min-width: 1180px;
    overflow: hidden;
    text-align: center;
}
.search-radius{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.search-radius-rl{
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -ms-border-radius: 0 2px 2px 0;
    -o-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}
.search-border2{border: 2px solid #00a9d3;}
.seCont {
    clear: both;
    height: auto;
    min-width: 1180px;
    overflow: hidden;
    text-align: center;
}
.w1180{
    width: 1180px;
    margin: 0 auto;
}
.bigTitle{
    font-size: 30px;
    line-height: 1;
    color: #5f5f5f;
    text-align: center;
}
.positionRe{position:relative}
.bTT80{padding-top: 80px;}
.white{background: #ffffff;}
.lightGrey{background: #f1f1f1;}
.bTB53{margin-bottom: 53px;}
.bTB70{margin-bottom: 70px;}
.img100{width: 100px;height: 100px;}
.imgRadius{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
/**top***/
.sTImg {
    background: url("../Image/Searchs/searchtop.jpg") no-repeat scroll center center;
    height: 520px;
}
.search-se{
    width: 705px;
    height: 420px;
    margin: 0 auto;
    position: relative;
    top: 100px;
}
.search-se h2{
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    line-height: 1;
    padding-top: 102px;
}
.search-se p{
    color: #ffffff;
    font-size: 14px;
    text-align: left;
    line-height: 1;
    margin: 70px 0 18px 0;
}
.search-se strong{
    color: #eeeeee;
    font-size: 18px;
    margin: 0 15px;
    padding: 0;
}
.se-d{
    height: 40px;
    width: 100%; 
    background: #ffffff;
}
.se-d a{
    display: inline-block;
     float: left;
}
.search-a{
    width: 186px;
    background: #00aad7;
    height: 36px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
}
.search-a:hover{
    background: #00c9ff;
}
.upload-img{
    height: 24px;
    width: 28px;
    position: relative;
    top: 6px;
    /* background: url("../Image/Searchs/upload.png") no-repeat scroll center center; */
}
.upload-img .uploadify-button{
    background: url("../Image/Searchs/upload.png") no-repeat scroll 390px center;
    height: 36px;
    left: -396px;
    position: relative;
    top: -6px;
    width: 434px;
}
.upload-img .uploadify-button:hover{
    background: url("../Image/Searchs/upload.png") no-repeat scroll 390px center;
}
.upload-img.placeHolderImg .uploadify-button{
    width: 690px;
    left: -652px;
    background: url("../Image/Searchs/upload.png") no-repeat scroll 640px center;
}
.upload-img.placeHolderImg .uploadify-button:hover{
    background: url("../Image/Searchs/upload.png") no-repeat scroll 640px center;
}

.seInput.fileW[type="text"]{
    width: 397px;
}
.se-mar{margin-left: 10px;}
.dispanyNone{display: none;}
.dispanyBlock{display: block;}
/***仿select***/
.selctWrap {
    width: 80px;
    height: 100%;
    float: left;
    line-height: 36px;
    font-size: 14px;
    color: #727171;
    text-align: center;
    position: relative;
}
.pseudoSelect{
    height: 36px;
    line-height: 36px;
    background: #fff;
    float: left;
    width: 100%;
    cursor: pointer;
}
.selctWrap i{
    border-top: 4px solid #727171;
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    right: 10px;
    top: 18px;
    cursor: pointer;
}
.selctWrap ul{
    overflow: hidden;
    height: auto;
    background: #ffffff;
    position: absolute;
    top: 36px;
    width: 83px;
    left: -2px;
    display: none;
    z-index: 100;
    border-left: 2px solid #00a9d3;
    border-bottom: 1px solid #00a9d3;
    border-right: 1px solid #00a9d3;
}
.selctWrap li{
    float: left;
    width: 100%;
    line-height: 36px;
}
.selctWrap li:hover{
    background: #00a9d3;
    color: #ffffff;
    cursor: pointer;
}
.seInput[type="text"]{
    height: ;
    width: 435px;
    border-left: 1px solid #aaaaaa;
    border-right: none !important; 
    border-top: none !important; 
    border-bottom: none !important;
    font-size: 14px;
    color: #727171;
    position: relative;
    top: 6px;
    padding: 4px 10px;
}
.seInput[type="text"]:hover,.seInput[type="text"]:focus{
    border-left: 1px solid #aaaaaa;
    border-right: none !important; 
    border-top: none !important; 
    border-bottom: none !important; 
}
/**查询文字说明**/
.se-text{
    margin-top: 20px;
}
.se-text p{
    margin: 0;
    text-align: left;
}
.se-text p a{
    color: #ffffff;
    text-decoration: underline;
}
.se-text p a:hover{
    text-decoration: underline;
}
.se-text p img{
    vertical-align: middle;
    margin: 0 16px;
}
.se-text .mar45{margin-left: 45px;display: none;}
.se-error{
    position: relative;
}
/**上传中**/
.se-uploding{
    width: 99.8%;
    position: absolute;
    top: 0;
    left: 1px;
    height: 36px;
    line-height: 36px;
    z-index: 100;
    text-align: center;
    background: #ffffff;
    display: none;
}
.se-uploding span{
    font-size: 18px;
    color: #727171;
    height: 36px;
    line-height: 36px;
    display: inline-block;
}
.se-uploding em{
    display: inline-block;
    height: 20px;
    position: absolute;
    right: 40px;
    top: 7px;
    width: 20px;
    cursor: pointer;
    background: url("../Image/Searchs/secolose.png") no-repeat scroll center center;
}
.se-uploding img{
    margin-top: 3px;
}
/**上传完成**/
.se-up-ok{
    border: 1px solid #00a9d3;
    background: #ffffff;
    height: 32px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 46px;
    display: none;
}
.se-up-ok div{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
}
.se-up-ok em{
    position: absolute;
    right: 3px;
    top: 12px;
    width: 8px;
    height: 8px;
    cursor: pointer;
    background: url("../Image/Searchs/lodingimg.png") no-repeat scroll center center;
}
.search-radius-left.search-radius{
	border-radius: 0 4px 4px 4px;
}