<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="component/comment:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?component/comment-create.html" mini-form="comment-form" method="post" >
<table width="100%" border="0" cellspacing="0" class="table-data form">
<tr><th>项目ID：</th><td>
	<input type="hidden" name="data[component_id]" value="0" id="case_component_id"/>
	<input type="text" value="" id="case_component_name" class="input w-100"/>
 <{link ctl="component/component:dialog" select="mini:#case_component_id,#case_component_name/N/选择项目" class="button"}>  
</td></tr>
<tr><th>用户ID：</th><td>
	<input type="hidden" name="data[uid]" value="0" id="component_member_id" class="input w-100"/>
	<input type="text" value="" id="component_member_uname" class="input w-100"/>
<{link ctl="member/member:dialog"  select="mini:#component_member_id,#component_member_uname/N/选择用户" title="选择用户" class="button"}>
</td></tr>
<tr><th>评论内容：</th><td><textarea name="data[content]" class="textarea"><{$detail.content}></textarea><br /></td></tr>
<tr><th>回复内容：</th><td><textarea name="data[reply]" class="textarea"><{$detail.reply}></textarea><br /></td></tr>
<tr><th>状态：</th><td><label><input type="radio" name="data[closed]" <{if $detail.closed}>checked="checked"<{/if}> value="1"/>是</label>&nbsp;&nbsp;<label><input type="radio" name="data[closed]" <{if isset($detail.closed) && empty($detail.closed)}>checked="checked"<{/if}> value="0"/>否</label></td></tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>
<{include file="admin:common/footer.html"}>