<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link href="//www.jisunet.com/mobile/css/myTheme.css" rel="stylesheet"/>
    <link href="//www.jisunet.com/mobile/css/jquery.mobile.icons.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//www.jisunet.com/mobile/css/jquery.mobile.structure-1.4.5.css"/>
    <title>一路展</title>
</head>
<body>
<div data-role="page" id="pageLogin" class="loginCon" data-dom-cache="false" data-title="自定义title标题，用于SEO">

    <div data-role="main">
        <div class="loginLogo">
            <img src="//www.jisunet.com/mobile/img/loginLogo.png" />
        </div>
        <form data-role="form" method="post" action="#" id="loginForm">
            <div class="login-content">
                <fieldset class="login-fromInput">
                    <label for="loginUserName"><span class="iconfont icon-user"></span> </label>
                    <input type="text" name="loginUserName" id="loginUserName" placeholder="用户名/手机号/邮箱">
                </fieldset>
                <fieldset class="login-fromInput">
                    <label for="loginUserPwd"><span class="iconfont icon-password"></span> </label>
                    <input type="password" name="loginUserName" id="loginUserPwd" placeholder="输入密码">
                </fieldset>
            </div>
            <fieldset class="loginForgot">
                <a href="#">忘记密码？</a>
            </fieldset>
            <fieldset class="loginSubmit">
                <input type="submit" id="loginSubmit" value="登录">
            </fieldset>
            <fieldset class="loginSubmit">
                <a href="###" class="regLink">新用户注册</a>
            </fieldset>
        </form>
    </div>

</div>

<script src="//www.jisunet.com/mobile/js/jquery-2.1.4.min.js"></script>
<script src="//www.jisunet.com/mobile/js/jquery.mobile-1.4.5.min.js"></script>
<script src="//www.jisunet.com/mobile/js/TouchSlide.1.1.js"></script>
<script src="//www.jisunet.com/mobile/js/swiper.jquery.js"></script>
<script src="//www.jisunet.com/mobile/js/expo.js"></script>
</body>
</html>