<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>关于我们_一路展展装网</title>
    <meta name="description" content="一路展是专注展览设计与搭建的展装O2O平台，平台通过对展装行业产业链重构和平台的保障及评价体系，提高参展商、设计师、工厂三方的效率与价值。产品已于2月底上线，现平台上已有800余家参展用户，考察认证通过的工厂200家、设计师100多人.">
    <meta name="Keywords" content="展览设计,展装O2O,展装OEM,特装OEM,参展商,展装网,设计师,工厂,一路展">
    <{include file="mobile:block/header.html"}>
</head>
<body>

<div data-role="page" id="pageAbout" class="page1" data-dom-cache="false" data-title="关于我们_一路展展装网">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-fullscreen="true"
         class="header adPageHeader">
        <a href="#" data-direction="reverse" data-rel="back" class="ui-btn iconfont icon-jiantou"></a>

        <h1>关于我们</h1>
        <!--<a href="search.html" data-transition="slide" class="ui-btn iconfont icon-search"></a>-->

    </div>

    <div data-role="main">

        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="about-img" src="//www.jisunet.com/mobile/img/about/n1.png" />
                </div>
                <div class="swiper-slide">
                    <img class="about-img" src="//www.jisunet.com/mobile/img/about/n1.pngimg/about/n2.png" />

                </div>
                <div class="swiper-slide">
                    <img class="about-img" src="//www.jisunet.com/mobile/img/about/n1.pngimg/about/n3.png" />

                </div>
                <div class="swiper-slide">
                    <img class="about-img" src="//www.jisunet.com/mobile/img/about/n1.pngimg/about/n4.png" />

                </div>
                <div class="swiper-slide">
                    <img class="about-img" src="//www.jisunet.com/mobile/img/about/n1.pngimg/about/n5.png" />
                </div>
                <div class="swiper-slide">
                    <img class="about-img" src="//www.jisunet.com/mobile/img/about/n1.pngimg/about/n6.png" />
                </div>
                <div class="swiper-slide">
                    <img class="about-img" src="//www.jisunet.com/mobile/img/about/n1.pngimg/about/n7.png" />
                </div>
                <div class="swiper-slide">
                    <img class="about-img" src="//www.jisunet.com/mobile/img/about/n1.pngimg/about/n71.png" />
                </div>
                <div class="swiper-slide">
                    <img class="about-img" src="//www.jisunet.com/mobile/img/about/n1.pngimg/about/n8.png" />
                </div>
                <div class="swiper-slide">
                    <img class="about-img" src="//www.jisunet.com/mobile/img/about/n1.pngimg/about/13.png" />
                </div>
                <div class="swiper-slide">
                    <img class="about-img" src="//www.jisunet.com/mobile/img/about/n1.pngimg/about/14.png" />
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-black"></div>
            <!-- Add Navigation -->
            <!--<div class="swiper-button-prev swiper-button-white"></div>-->
            <!--<div class="swiper-button-next swiper-button-white"></div>-->
            <div class="s-ico"><img src="//www.jisunet.com/mobile/img/about/n1.pngimg/ad/s-ico.png"/></div>
        </div>

    </div>

</div>

<{include file="mobile:block/bottom.html"}>

</body>
</html>