<{include file="admin:common/header.html"}>
<div class="page-title">
	<table width="100%" align="center" cellpadding="0" cellspacing="0" >
		<tr>
			<td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
			<th><{$MOD.title}>&nbsp;&nbsp;(超市:<b class="red"><{$case.title}></b>)</th>
			<td align="right">
				<{link ctl="chao/baojia:caizhi" arg0=$case.case_id  arg1=$cz_id load="mini:材质要求" width="mini:600" class="button" title="材质要求"}>
				<{link ctl="chao/baojia:gongchang" arg0=$case.case_id arg1=$cz_id load="mini:分派工厂" width="mini:600" class="button" title="分派工厂"}>
                <{link ctl="chao/chao:index" class="button" title="返回超市列表"}>
			</td>
			<td width="15"></td>
		</tr>
	</table>
</div>
<div class="page-data">	
	<div class="tip-notice">
    材质要求：<{$case.caizhi}>
	</div>

<{if $changdi}>
	<div class="tip-notice">
		场馆管理费用
            <table width="100%" border="0" cellspacing="0" class="table-data table">
            <{foreach $changdi.data as $key=>$val}>
            <tr>
                <td class="input w-50"><{$key}></td>
                <td class="input w-100"><{$val.xiangmu}></td>
                <td class="input w-200"><{$val.beizhu}></td>
                <td class="input w-100"><{$val.num}></td>
                <td class="input w-50"><{$val.danwei}></td>
                <td class="input w-100"><{$val.price}></td>
                <td class="input w-100"><{$val.num*$val.price}></td>
            </tr>
<{/foreach}>
<tr>
    <td class="input w-50"></td>
    <td class="input w-100"></td>
    <td class="input w-200"></td>
    <td class="input w-100"></td>
    <td class="input w-50"></td>
    <td class="input w-100">场馆费用小计:</td>
    <td class="input w-100"><{$changdi.price}></td>
</tr>

    </table>

	</div>
<{/if}>
	<form id="items-form">
    <table width="100%" border="0" cellspacing="0" class="table-data table">
    <tr>
		<th class="w-100">排序</th>
        <th>工厂名称</th>
		<th>工厂报价(元)</th>
        <th>附加</th>
        <th>系统报价(元)</th>
        <th>场地费</th>
        <th>设计提点</th>
        <th>设计费</th>
        <th>服务费</th>
        <th>税</th>
        <th>税额</th>
        <th>总合计</th>
		<th class="w-150">操作</th>
	</tr>
    <{foreach $items as $key=>$item}>
    <tr <{if $item.status}> style="background:#F8CEA0;"<{/if}>>
		<td class="left"><{$key+1}></td>
        <td><img src="<{$pager.img}>/<{$item.info.logo}>" class="wh-100" photo="<{$pager.img}>/<{$item.info.logo}>" /><br>
<a href="/gong/chang-<{$item.company_id}>.html" target="_blank"><{$item.info.title|default:'工厂名称'}></a><{if $item.iser==1}><br>【二次报价中】<{elseif $item.iser==2}><br>【二次报价完成】<{/if}></td>
        
		<td>
        <table>
        <tr>
        <{if $item.iser==2}>
        <td>
        原：

            <{foreach $item.yuandata as $xiangmu}>
            	<{$xiangmu.xiangmu}>:<{$xiangmu.price}><br>
            <{/foreach}>
            合计：<{$item.yuan_price}>
            </td>
        <{/if}>
            <td>

            <{foreach $item.data as $xiangmu}>
            	<{$xiangmu.xiangmu}>:<{$xiangmu.price}><br>
            <{/foreach}>
            合计：<{$item.gc_price}>
            </td>
            </tr>
            </table>
        </td>
		<td><{$item.bili}>%</td>
		<td>
        	<{foreach $item.data as $xiangmu}>
            	<{$xiangmu.xiangmu}>:<{$xiangmu.price*(1+$item.bili/100)}><br>
            <{/foreach}>
            合计：<{$item.price}>
        </td>
        <td>
            <{$item.cd_price}>
        </td>
		<td><{$item.shejidian}>%</td>
		<td><{$item.sheji_price}></td>
        <td><{$item.fuwu_price}></td>
		<td><{$item.shuidian}>%</td>
		<td><{$item.shui_price}></td>
        <td><{$item.heji_price}></td>
		<td>
			<{link ctl="chao/baojia:yichang" args=$item.baojia_id act="mini:异常处理" confirm="mini:确定要为正常报价吗？" title="异常处理" class="button"}><br>
            <{link ctl="chao/baojia:edit" arg0=$item.baojia_id arg1=$case.case_id arg2=$cz_id load="mini:<{$item.info.title|default:'工厂名称'}>" width="mini:600" class="button" title="修改"}>
            
            <{link ctl="chao/baojia:tongbu" arg0=$item.baojia_id arg1=$cz_id act="mini:同步场地费" confirm="mini:确定要更新当前场地费吗？" title="同步场地费" class="button"}>
            <{if $item.status}><{link ctl="chao/baojia:qiandan_cancel" arg0=$item.baojia_id arg1=$cz_id act="mini:取消签约" confirm="mini:确定与<{$item.info.title|default:'工厂名称'}>取消签约吗？" title="取消签约" class="button"}><{else}><{link ctl="chao/baojia:qiandan" arg0=$item.baojia_id arg1=$cz_id act="mini:签约" confirm="mini:确定与<{$item.info.title|default:'工厂名称'}>签约吗？" title="签约" class="button"}><{/if}>
            
           
		</td>
	</tr>
    <{foreachelse}>
     <tr><td colspan="20"><p class="text-align tip-notice">没有数据</p></td></tr>
    <{/foreach}>
    </table>
	</form>
	<div class="page-bar">
		<table>
			<tr>
			<td class="w-100"></td>
			<td colspan="10" class="left">
				
				<{link ctl="chao/baojia:isshow" arg0=$case.case_id act="mini:显示给参展商" confirm="mini:确定要显示给参展商吗？" title="显示给参展商" class="button"}>
                <{link ctl="chao/baojia:piliang" arg0=$case.case_id arg1=$case.cz_id act="mini:批量同步场地费" confirm="mini:确定要更新所有报价场地费吗？" title="批量同步场地费" class="button"}>
			</td>
			<td class="page-list"><{$pager.pagebar}></td>
		</tr>
		</table>
	</div>
</div>
<{include file="admin:common/footer.html"}>