<{include file="mobile:member/block/header.html"}>
<div data-role="page" id="pageArticle3" class="page1" data-dom-cache="false" data-title="设计师管理规范">

    <div data-role="header" data-position="fixed" class="header">
        <a href="#" data-direction="reverse" data-rel="back" class="ui-btn iconfont icon-jiantou"></a>

        <h1>设计师管理规范</h1>

    </div>
    <div data-role="main">
        <div data-role="content" class="article-main">
            <div class="article-title">
                <div class="article-title-inner">
                    <h2>“一路展”展装O2O平台--展装原本如此轻松设计中心设计师管理规范</h2>
                </div>
                <!-- <div class="article2-author">
                    <a href="#"><img src="img/designer.jpg"/> </a>
                    <p>尚强<span>|</span>粉丝：12223<span>|</span>关注：34225</p>
                
                </div> -->
            </div>
            <!-- 文章内容部分-->
            <div class="article2-details">
                <p>“一路展”通过O2O模式和互联网技术为会展业参展企业提供更低的价格、更高品质的展装服务、更轻松的展装体验，打造目前国内唯一的互联网展装服务O2O平台，实现互联网+会展展装业的全方位服务革命，通过重建价值链，将服务模式转为更具效率和价值的O2O服务，打造崭新的B2B商业旗舰。</p>          
                <p> 设计中心旨在打造会展展装业从业设计师的家园和工作平台，使设计师在家园平台发展自身，深入交流和促进成长，工作平台实现个人自我价值，发挥自我能力。</p>

                一、关于合作<br/>
                1、合作主体及身份：<br/>
                  甲方：“一路展”展装O2O平台，一路展（北京）信息科技股份有限公司<br/>
                  乙方：平台设计师<br/>
                2、工作制度规范<br/>
                1）使用流程：登陆（注册）审核通过 完善个人主页 提交作品 设定初始级别<br/>
                2）工作板块：按照级别规定在平台接单；按照平台规定出效果图<br/>
                3）工作报酬：设计师中标作品享受3%提成，未中标作品享受一定金额补贴<br/>
                二、关于版权<br/>
                1、设计师发送到“一路展”展装O2O平台的作品版权归平台所有<br/>
                2、“一路展”展装O2O平台拥有对设计作品的再分配、二次创作、使用、买卖等权利；<br/>
                3、设计师上传到平台的作品必须保证作品原创性；<br/>
                4、在平台之上的作品涉及第三方隐私权保护应该按照第三方要求执行；<br/>
                三、关于“一路展”展装O2O平台设计师级别<br/>
                1、设计师级别<br/>
                ①优秀设计师，3年工作经验；提交5-10套设计作品（包括3D模型）用于评定级别和设计师主页上展示<br/>
                ②精英设计师，5年工作经验；提交5-10套设计作品（包括3D模型）用于评定级别和设计师主页上展示<br/>
                ③首席设计师，8年工作经验；提交5-10套设计作品（包括3D模型）用于评定级别和设计师主页上展示<br/>
                ④总监设计师，10年工作经验；提交5-10套设计作品（包括3D模型）用于评定级别和设计师主页上展示<br/>
                ⑤设计大咖：为行业知名设计师，加入“一路展”设计顾问委员会提交5-10套设计作品用于展示和设计师主页上<br/>
                设计机构，3人以上的设计师工作团队；提交10-20套团队设计作品用于展示和设计师主页<br/>
                2、设计师级别评价标准<br/>
                1）设计师工作年限占30%比重<br/>
                2）设计师初始上传5套作品审核判定水平70%比重计算<br/>
                3、设计师级别升降级办法<br/>
                1)升级制度：<br/>
                设计师在一年内作品中标率超过10%，且没有客户投诉的情况下，可以晋升一级；设计师在一年内作品的中标率超过30%，且没有客户投诉的情况下，可以晋升两级；<br/>
                2）降级制度：<br/>
                设计师在一年内作品的中标率低于10%或者有客户投诉，设计师级别自动降一级；<br/>
                四、关于平台使用（分为设计家园和工作平台2大板块）<br/>
                1、设计家园使用<br/>
                1）国内外经典信息：提供国内外各大展会的信息照片<br/>
                2）灵感参考图库：设计师灵感来源，通过各种类型的设计作品；<br/>
                3）设计沙龙：不定期的举行业大咖聚会，讨论设计前瞻与方向等；<br/>
                4）人物访谈：不定期访谈行业专家或者大咖，分享经验，提高价值；<br/>
                5）技术教程：提供3D设计技术难点的解析和视频教程；<br/>
                6）模型下载：3D模型、软件、材质贴图、VR材质、CAD模块、灯光<br/>
                2、工作平台使用<br/>
                1）平台按照不同设计师级别给予设计不同的设计权限，具体规定如下：<br/>
                ①优秀设计师有权限设计150平米及以下面积的展台；<br/>
                ②精英设计师有权限设计400平米及以下面积的展台；<br/>
                ③首席设计师有权限设计150平米以上，1000平米以下面积的展台；<br/>
                ④总监设计师有权限设计150平米以上面积的展台<br/>
                ⑤大咖享有自主选择权<br/>
                五、关于薪酬<br/>
                1、设计补助（按照展台面积）<br/>
                1）对于所有设计订单的作品平台将给予一定金额的补助，补助标准按照设计作品的面积计算；具体补助规则如下；<br/>
                ①小于等于54平米的展台设计方案补贴200元人民币;<br>
②大于54小于等于108平台的展台设计方案补贴400元人民币;<br>


③大于108小于等于150平米的展台设计方案补贴500元人民币;<br>


④大于150小于等于300平米的展台设计方案补贴800元人民币;<br>


⑤大于300小于等于400平米的展台设计方案补贴1000元人民币;<br>


⑥大于400小于等于600平米的展台设计方案补贴1500元人民币;<br>


⑦大于600小于等于1000平米的展台设计方案补贴2000元人民币;<br>


⑧1000平米以上的展台设计方案可与平台议价;<br>


                2、中标奖励：<br/>
                1）中标作品的奖励规则为：签约金额3%提成（除去第三方费用）<br/>
                3、初始上传模型<br/>
                1)新注册设计师，在平台上传5-10套设计作品作为平台审核设计师等级的判断标准；<br/>
                4、介绍设计师加入奖励<br/>
                1）已经在平台注册的设计师介绍新设计师在平台注册可以获得奖励，奖励金额为每人5000展币；<br/>
                5、平台应用“展币”<br/>
                1）展币获得，在平台日常使用中可以获得一定金额的展币，平台展币积分详细规则如下；<br/>
                ①新用户完成注册可获得100展币；<br/>
                ②用户在一天内在线登陆，每天可获得10展币；<br/>
                ③用户在平台式发表文章、评论可获得10展币；<br/>
                ④用户分享相关文章、作品、图片可获得10展币；<br/>
                ⑤用户完善个人资料可获得10展币；<br/>
                ⑥设计师每一次上传作品并可获得20展币；<br/>
                2）展币使用，平台展币可以兑换现金，兑换比例为（100:1）即100展币兑换1元人民币；<br/>
                6、薪酬发放<br/>
                1）设计师在平台上申请提现后2天后到账；<br/>
                2）单笔提现最小金额为500元！<br/>
                六、关于隐私及保密<br/>
                尊重用户个人隐私是“一路展”的一项基本政策。所以，作为对用户注册资料分析的补充，“一路展”不会在未经合法用户授权时公开、编辑或透露其注册资料及保存在“一路展”中的非公开内容。除非有法律许可要求或“一路展”在诚信的基础上认为透露这些信息在以下情况是必要的：<br/>
                (1) 遵守有关法律规定，遵从“一路展”合法服务程序；<br/>
                (2) 在紧急情况下竭力维护用户个人和社会大众的隐私安全；<br/>
                (3) 符合其他相关的要求。<br/>
                七、关于黑名单<br/>
                1、“一路展”展装O2O平台为了更好的打造平台服务，提升平台价值，规范平台行为和个人行为，特制订黑名单制度；<br/>
                2、黑名单标准<br/>
                1）在一路展平台上上传色情、淫秽内容或发表违反国家规定的正当言论者；<br/>
                2）一路展平台认证设计师3次没有退单申请就擅自毁单者；<br/>
                3）一路展平台认证设计师被客户投诉3次以上者<br/>
                3、黑名单惩罚办法<br/>
                1）在一路展平台之上违反国家相关法律规定的设计师要承担法律责任，情节特别严重者需要移送司法机关；<br/>
                2）一路展平台有权利针对设计师的情节严重性，一路展平台有权利提出解约；<br/>
                3）一路展平台有权利针对设计师的情节严重性，一路展平台有权利扣除奖金和补贴尽量金额；<br/>
                4）黑名单公示制度，一路展平台有权利对于违反平台规定的设计师进行公示；<br/>
                八、关于违约<br/>
                1、违约处理<br/>
                2、违约法律问题<br/>
                九、合作期限<br/>
                1）平台合作规定合作期限以2-3年为主；<br/>
                2）设计师可以自由选择合作时间；<br/>
            </div>
        </div>
    </div>
<{include file="mobile:member/block/footer.html"}>