<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>展装OEM_一路展展装网</title>
    <meta name="description" content="展装OEM采用工厂直价,帮展商规避展装价格陷阱,一路展展装OEM工厂直价秒杀同行!比传统价格低25%-50%展商提交展台设计方案通过展装OEM可以直接找展览工厂制作搭建.">
    <meta name="Keywords" content="特装搭建,展览搭建,展台搭建,特装展位搭建,展览搭建商,展台搭建工厂,展装OEM,特装OEM,展装网,一路展,工厂报价">
    <{include file="mobile:block/header.html"}>
</head>
<body>
<div data-role="page" id="pageoem" class="page1" data-dom-cache="false" data-title="展装OEM_一路展展装网">


    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-fullscreen="true"
         class="header adPageHeader">
        <a href="#" data-direction="reverse" data-rel="back" class="ui-btn iconfont icon-jiantou"></a>

        <h1><i class="oemNum"></i></h1>
        <!--<a href="search.html" data-transition="slide" class="ui-btn iconfont icon-search"></a>-->

    </div>
    <div data-role="main" class="oemMain">

        <div class="swiper-container" id="oem1312312312" data-myswiper="true">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="oem-section1">
                        <img class="oem-sectionbg" src="//www.jisunet.com/mobile/img/ad/oem-bg.png"/>
                        <img data-swiper-parallax-y="1000" data-swiper-parallax-duration="300"
                             class="oem-s1-wz1 fadeInUp" src="//www.jisunet.com/mobile/img/ad/oem-wz1.png"/>
                        <img data-swiper-parallax-y="-500" class="oem-s1-wz2 fadeInDown" src="//www.jisunet.com/mobile/img/ad/oem-wz2.png"/>
                        <div class="ui-grid-a oemAdBtn">
                            <div class="ui-block-a">
                                <a href="/member/member-index.html">速算报价</a>
                            </div>
                            <div class="ui-block-b">
                                <a href="/member/member-index.html">进入比价</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="oem-section2">
                        <div data-swiper-parallax="3000" data-swiper-parallax-duration="1500" class="oem-s3-p1">
                            <img src="//www.jisunet.com/mobile/img/ad/oem3-p1.png"/>
                        </div>
                        <div data-swiper-parallax="-3000" data-swiper-parallax-duration="1500" class="oem-s3-wz">
                            <img src="//www.jisunet.com/mobile/img/ad/oem3-wz.png"/>
                        </div>

                    </div>
                    <div class="ui-grid-a oemAdBtn oemAdBtn2 ani" data-animate="rubberBand">
                        <div class="ui-block-a">
                            <a href="/member/member-index.html">速算报价</a>
                        </div>
                        <div class="ui-block-b">
                            <a href="/member/member-index.html">进入比价</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="oem-section2">
                        <div data-swiper-parallax-y="1000" data-swiper-parallax-duration="1000" class="oem-s3-p1">
                            <img src="//www.jisunet.com/mobile/img/ad/oem4-p1.png"/>
                        </div>
                        <div data-swiper-parallax-y="-1000" data-swiper-parallax-duration="1000" class="oem-s3-wz">
                            <img src="//www.jisunet.com/mobile/img/ad/oem4-wz.png"/>
                        </div>
                    </div>
                    <div class="ui-grid-a oemAdBtn oemAdBtn2 ani" data-animate="rubberBand">
                        <div class="ui-block-a">
                            <a href="/member/member-index.html">速算报价</a>
                        </div>
                        <div class="ui-block-b">
                            <a href="/member/member-index.html">进入比价</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="oem-section2">
                        <div data-swiper-parallax="3000" data-swiper-parallax-duration="1000" class="oem-s3-p1">
                            <img src="//www.jisunet.com/mobile/img/ad/oem5-p1.png"/>
                        </div>
                        <div data-swiper-parallax="-3000" data-swiper-parallax-duration="1000" class="oem-s3-wz">
                            <img src="//www.jisunet.com/mobile/img/ad/oem5-wz.png"/>
                        </div>
                    </div>
                    <div class="ui-grid-a oemAdBtn oemAdBtn2 ani" data-animate="rubberBand">
                        <div class="ui-block-a">
                            <a href="/member/member-index.html">速算报价</a>
                        </div>
                        <div class="ui-block-b">
                            <a href="/member/member-index.html">进入比价</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="oem-section2">
                        <div class="ani oem-s2-p" data-animate="pulse">
                            <img src="//www.jisunet.com/mobile/img/ad/oem2-p1.png"/>
                        </div>
                    </div>
                    <div class="ui-grid-a oemAdBtn oemAdBtn2 ani" data-animate="rubberBand">
                        <div class="ui-block-a">
                            <a href="/member/member-index.html">速算报价</a>
                        </div>
                        <div class="ui-block-b">
                            <a href="/member/member-index.html">进入比价</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-scrollbar">
                <div class="swiper-scrollbar-drag"></div>
            </div>
        </div>

        <img class="oem-sectionbg" src="//www.jisunet.com/mobile/img/ad/oem2-p2.png"/>

    </div>

</div>

<{include file="mobile:block/bottom.html"}>
</body>
</html>