<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="company/dianping:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data"><form action="?company/dianping-edit.html" mini-form="dianping-form" method="post" >
<table width="100%" border="0" cellspacing="0" class="table-data form">
<input type="hidden" name="id" value="<{$detail.id}>"/>
<tr><th>施工厂家：</th>
    <td>
    <input type="hidden" name="data[company_id]" value="<{$detail.company_id}>" id="case_company_id"/>
    <input type="text"  value="<{$company.name}>" id="case_company_name" class="input w-300" readonly="readonly"/>
     <{link ctl="company/company:dialog" select="mini:#case_company_id,#case_company_name/N/选择施工厂家" class="button"}>    
    </td>
</tr>
<tr><th>所属会员：</th>
    <td>

        <input type="hidden" name="data[uid]" value="<{$detail.uid}>" id="company_member_id" class="input w-100"/>
        <input type="text" value="<{$member.uname}>" id="company_member_uname" class="input w-300"/>
        <{link ctl="member/member:dialog"  select="mini:#company_member_id,#company_member_uname/N/选择用户" title="选择用户" class="button"}>
    </td>
</tr>

<tr>
    <th>点评：</th>
    <td>
        <{foreach $CONFIG.company_dianping as $k=>$v}>
        <{if $v}><label><{$v}>:<input type="text" name="data[<{$k}>]" value="<{$detail[$k]|default:'0'}>" class="input w-50"/></label><{/if}>
        <{/foreach}>
    </td>
</tr>
<tr><th>评价内容：</th><td><textarea name="data[content]" class="textarea"><{$detail.content}></textarea><br /></td></tr>
<tr><th>评价时间：</th><td><input type="text" name="data[dateline]" value="<{$detail.dateline|default:''}>" class="input w-300"/></td></tr>
<tr><th>评价IP：</th><td><input type="text" name="data[create_ip]" value="<{$detail.create_ip|default:''}>" class="input w-300"/></td></tr>
<tr><th>手机：</th><td><input type="text" name="data[mobile]" value="<{$detail.mobile|default:''}>" class="input w-300"/></td></tr>
<tr><th>称呼：</th><td><input type="text" name="data[name]" value="<{$detail.name|default:''}>" class="input w-300"/></td></tr>
<tr><th>小区：</th><td><input type="text" name="data[home_name]" value="<{$detail.home_name|default:''}>" class="input w-300"/></td></tr>



<tr><th>是否推荐：</th><td>
	<label><input type="radio" name="data[is_rec]" <{if $detail.is_rec}>checked="checked"<{/if}> value="1"/>是</label>&nbsp;&nbsp;
	<label><input type="radio" name="data[is_rec]" <{if empty($detail.is_rec)}>checked="checked"<{/if}> value="0"/>否</label></td></tr>
   


<tr><th>审核：</th><td>
	<label><input type="radio" name="data[audit]" <{if $detail.audit}>checked="checked"<{/if}> value="1"/>是</label>&nbsp;&nbsp;
	<label><input type="radio" name="data[audit]" <{if empty($detail.audit)}>checked="checked"<{/if}> value="0"/>否</label></td></tr>
   

<tr><th>施工厂家回复：</th><td><textarea name="data[reply]" class="textarea"><{$detail.reply}></textarea><br /></td></tr>
<tr><th>回复时间：</th><td><input type="text" name="data[reply_time]" value="<{$detail.reply_time|default:''}>" class="input w-100" date="reply_time" readonly/></td></tr>
<tr><th>回复IP：</th><td><input type="text" name="data[reply_ip]" value="<{$detail.reply_ip|default:''}>" class="input w-300"/></td></tr>
    <tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>
</form></div>

<{include file="admin:common/footer.html"}>