#wrapper {position: relative;height: 100%;max-width:640px;margin:0 auto;background;#f0f0f0;
display:block;}
#wrapper .screen {position: absolute;top: 0;width: 100%;height: 100%;background-color: #ebebeb;}
.head {width: 100%;height:38px;position:fixed;top:0;left:0;background:#fe552e;z-index:1;}
   .head .fanhui{float:left;padding-top:5px;padding-left:12px;}
   .head .s1{position:absolute;top:9px;left:50%;margin-left:-12px;color:white;font-size:14px;}
   .head .fanhui img{width:17px;height:21px;padding-top:0.4em;}
   .head .message img{width:17px;height:21px;padding-top:0.4em;}
   .head .message{float:right;padding-top:5px;padding-right:5px;}
    .main {max-width: 620px;margin: 0 auto;padding: 39px 10px;background-color: #ebebeb;}
   .main1{
    background:#3599fc;
	position:relative;
}
.main1 p{
	color:white;
	margin:8px 9px;
	font-size:14px;
}
.main1 .p1{
	padding-top:16px;
}
.main1 .p3{
	padding-bottom:21px;
	padding-top:14px;
}
.main1 .a1{
	position:absolute;
	top:96px;
	right:50px;
	color:#3599fc;
	border-radius:4px;
	text-align: center;
	padding:6px 23px;
	background:white;
}
.main2{
	background:white;
	
	margin-top:7px;
}
.main2 dl dt{
    width:70px;
    height:70px;
    float:left;
    margin-left:10px;
}
.main2 dl{
	padding:10px 5px 20px 0;
	width:100%;
	height:73px;
	position:relative;
	border-bottom:1px solid #ccc;
}
.main2 dl dd{
    /*width:266px;
    height:70px;*/
    float:left;
    margin-left:5px;
}
.main2 .p4{
	font-size:16px;
}
.main2 .p5{
	font-size:14px;
	padding-top:4px;
	color:#999999;
	 width:200px;
    height:46px;
}
/*.main2 .s1{
	position:absolute;
	top:1px;
	left:313px;
	font-size:12px;
}*/
.main2 .s1{
	position:absolute;
	top:9px;
	left:19.9em;
	font-size:12px;
	background:#3599fc;
	color:white;
}
.main2 .s2{
	position:absolute;
	top:9px;
	left:22.8em;
	font-size:12px;
	background:#31c96e;
	color:white;
}
.rongzi{
	padding:10px 10px 31px 10px;
}
.p6{
	float:left;
}
.xin{
	float:right;
}
.rongzi .left,.rongzi .center,.rongzi .right{
	float:left;
	border:1px solid #ccc;
	margin-right:5px;
	padding:0px 7px;
	border-radius:4px;
}  
.show{/*margin-bottom: -15px;*/line-height: 72px;height:34px;display: block;
color:#404040;text-align: center;font-size:14px;}