#wrapper {position: relative;height: 100%;max-width:640px;margin:0 auto;background:#f0f0f0;
display:block;}
#wrapper .screen {position: absolute;top: 0;width: 100%;height: 100%;background-color: #ebebeb;}
/*.head {width: 100%;height:38px;position:fixed;top:0;left:0;background:#fe552e;z-index:1;}*/
/*.head .fanhui{float:left;padding-top:5px;padding-left:5px;}*/
/*.head .s1{position:absolute;top:9px;left:50%;margin-left:-40px;color:white;font-size:14px;}*/
/*.head .fanhui img{width:17px;height:21px;padding-top:0.4em;}*/
/*.head .message img{width:17px;height:21px;padding-top:0.4em;}*/
/*.head .message{float:right;padding-top:5px;padding-right:5px;}*/
.head {width: 100%;height:38px;padding-top:12px;background-color:#fe552e;}
.head .logo {position:absolute;top:10px;left:50%;margin-left:-40px;width: 80px;height:26px;}
.head .logo a {width: 80px;height:26px;}
.head .sear{  height:34px;  width:64%;  margin:0 auto;  position:relative;}
.sear input{width:100%;height:28px;border-radius:3px;font-size:14px;border:1px solid #ccc;}
.sear a{position: absolute;top: 5px;right: 1px;}
.sear a img{width:25px;  height:23px;}
.xinxi{float:right;width:34px;color:white;background:url(../img/index_03.png) no-repeat 2px 14px;background-size:22px 22px;margin-top:-49px;padding-top:34px;margin-right:0.3em;}
.message{width:100%;color:white;}
.navbar {width: 100%;border-top:1px #f3cb2b solid;background:white;border-bottom: 1px #f0f0f0 solid;}
.navbar ul {width:100%;text-align:center;overflow: hidden;display: block}
.navbar ul li {float: left;width: 100%;}
.navbar ul li:last-child {border-right: 0 none;}
.navbar ul li a {color:black;font-size:14px;padding: 10px 0;display: block}
.navbar ul li.current a {color: #f70;font-weight: 700;}
#main5 .pgone{border-bottom:1px solid #ccc;padding:0em 0.5em;font-size:14px;}
#main5{width:100%;background:white;overflow:hidden;margin-top:10px;}
#main5 .list_1{    vertical-align: top;position:relative;text-align: center;padding: 0.5em 0;overflow: hidden;margin-bottom: 50px;}
#main5 .list_1 li img{float:left;margin-top:1em;margin-left:1em;width:82px;}
#main5 .list_1 li{width:100%;height:98px;border-bottom: 1px #f0f0f0 solid;position:relative;}
#main5 .list_1 li h4{font-size:14px;position:absolute;top:0.7em;left:7.6em;}
#main5 .list_1 li h5{font-size:14px;position:absolute;top:2.5em;left:7.6em;}
#main5 .show{margin-bottom: -15px;line-height: 44px;height:57px;display: block;
color:#404040;text-align: center;}
.bottom{background:#f7f7f7;width:100%;height:50px;position:fixed;bottom:0;left:0;}
.bottom ul li{float:left;width:20%;    display: block;height:50px;text-align: center;
/* margin: 4px auto;*//*padding:5px 5px 5px 5px;*/}
.bottom ul li a i{width:20%;font-size:16px;display:block;margin:7px auto 0px auto;}
.bottom ul li a span{width:20%;/*padding-left:2em;*/font-size:14px;}
.bottom ul{width:100%;height:50px;}
.bottom ul li a{width:20%;height:50px;color:#999999;}
.btn-default{background-color:white}

/*成功*/
/*.btn-success{color:red;background-color:#5eb95e; border-color:#5eb95e}*/
.bottom ul li a:hover,
.bottom ul li a:focus,
.bottom ul li a:active,
.bottom ul li a.active{color:#ff9107;/*background-color:#429842;*//*border-color:#429842*/}
.bottom ul li img{width:50px;height:46px}
.bottom ul li:nth-child(3){line-height:85px;}
.menu-ico {float: left;margin-left: 1em;width:34px;height: 34px;background:url("../img/wap_ico_nav.png") no-repeat 0 0;background-size:25px;display: inline-block;cursor: pointer;}
/*按钮样式*/
#main5 ul li .xiugai{position:absolute;top:6em;right:5em;}
#main5 ul li .xiugai2{position:absolute;top:6em;right:0em;}
#main5 ul li .xiugai,#main5 ul li .xiugai2{padding:0.3em 0.8em;background:#fe552e;color:white;
margin-right:20px;border-radius:3px;}
/*导航滑动*/
	.pr{position:relative;}
		.abs{position: absolute}
		.fl{float:left;display:inline-block;}
		.fr{float:right;display:inline-block;}
		.clearfix:after{content:".";display:block;height:0;clear: both;visibility:hidden;}
		.clearfix{*zoom:1;margin-top:38px;}
		.wrap{min-width: 320px;max-width:768px;margin:0 auto;overflow:hidden;position:relative;}

		.htit{line-height:1rem;padding:0 .3rem;color:#ff8e2e;font-size: .4rem;margin:1rem 0 .4rem 0}
		.wrapper01 {position:relative;height: 138px;width: 100%;overflow: hidden;margin:0px auto;
		margin-top:40px;background:white;}
		.wrapper01 .scroller {position:absolute}
		.wrapper01 .scroller li {height:91px;color:#333;float: left;text-align: center}
		.wrapper01 .scroller li a{color:#333;display:block;margin:0 .3rem}
		.wrapper01 .scroller li.cur a{color:#1cbb9b;}

		.wrapper ul li img{width:70px;height:70px;}
		.jishu{position:fixed;top:46px;left:14px;font-size:16px;z-index:500;}


