.head {width: 100%;height:138px;padding-top:12px;background-color:#fe552e;}
        .user-me img {float:left;width: 30px;height: 30px;border-radius: 50%;vertical-align: middle;}
.head img{width:71px;height:71px;margin-top:43px;margin-left:19px;}
.head span{margin-top:-52px;margin-left:98px;color:white;font-size:14px;display:block;}
        .head .logo {position:absolute;top:10px;left:50%;margin-left:-40px;width: 80px;height:26px;}
        .head .logo a {width: 80px;height:26px;}
        /*.head .search {float: right;}
        .head .search .search-status {margin-top:0.1em;display: block;}
        .search-status .search-cancel {color: #f70;margin-right: 0.7em;}
        .head .search {margin-right:0.5em;}
        .head .search a {width:30px;height: 30px;background:url("http://pp1.evervc.com/mobi-topic-imgs/wap_ico_search.png") no-repeat 0 0;background-size:24px;display:inline-block;}
        .head .search-wrap {position: absolute;top: 50px;left: 0;width: 100%;height: 50px;border-top:1px #f3cb2b solid;background-color: #ffd739;display: block;}
        .search-wrap form {padding: 7px 10px;}
        .search-wrap .search-input {margin-right: 54px;}
        .search-wrap .search-input input {float:left;width: 100%;height: 36px;line-height: 34px;margin-top:-1px;color:#445;border: 1px solid #ffd739;border-right:0 none;border-radius: 0;-webkit-appearance: none;text-indent: 10px;}
        .search-wrap .search-btn {float: right;padding: 6px 10px;color:#fff;background-color: #445;border: 0 none;margin-right: 0;}*/
               
        .navbar {border-top:1px #f3cb2b solid;background:white;margin:0 8px 0 8px;border-radius:4px;
        margin-top:-10px;}
        .navbar ul {width:100%;text-align:center;overflow: hidden;display: block}
        .navbar ul li {float: left;width: 24%;}
        .navbar ul li:last-child {border-right: 0 none;}
        .navbar ul li a {color:black;font-size:14px;padding: 10px 0;display: block}
        .navbar ul li.current a {}

        .main {max-width: 620px;margin:8px auto;padding: 5px 10px;background-color:white;}
        .main .box1 .p1{
        	display:inline-block;
        }
         .main .box1 .sp1{float:right;padding-right:20px;
         background:url(../img/wd_06.png) no-repeat right center;    background-size: 10px 13px;}
        .main .box1{width:100%;height:40px;line-height: 40px;    border-bottom: 1px solid #ccc;
        background:url(../img/wd_03.png) no-repeat 5px center;
        background-size:15px 15px;}
        .main .box1 .p1{float:left;margin-left:24px;font-size: 14px;}
        .main .box1:nth-child(6){border:none;}
       .main1 .box2:nth-child(3){border:none;}
            .main1 {max-width: 620px;margin:8px auto;padding: 5px 10px;background-color:white;}
        .main1 .box2 .p1{
        	display:inline-block;
        }
        .main1 .box2{width:100%;height:40px;line-height: 40px;    border-bottom: 1px solid #ccc;
        background:url(../img/wd_03.png) no-repeat 5px center;
        background-size:15px 15px;}
        .main1 .box2 .p1{float:left;margin-left:24px;
        }
        
         .main1 .img2{
         	float:right;padding-right:1px;width:10px;height:13px;padding-top:14px;
         }
         
               .main2 {max-width: 620px;margin:8px auto;margin-bottom:70px;padding: 5px 10px;background-color:white;}
        .main2 .box3 .p1{
        	display:inline-block;
        }
        .main2 .box3{width:100%;height:40px;line-height: 40px;
        background:url(../img/wd_03.png) no-repeat 5px center;
        background-size:15px 15px;}
        .main2 .box3 .p1{float:left;margin-left:24px;
        }
        
         .main2 .img2{
         	float:right;padding-right:1px;width:10px;height:13px;padding-top:14px;
         }
        .banner {position:relative;margin:0 auto;max-width: 620px;height:100%;overflow: hidden;}
        .banner ul {max-width: 620px;min-height: 100px;overflow: hidden;}
        .banner ul li {float: left;width: 100%;height: 100%;}
        .banner ul li a {width:100%;height: 100%;overflow: hidden;}
        .banner ul li a img {width:100%;display: block;}
        .banner .slider {position: absolute;right: 10px;bottom:5px;}
        .banner .slider span {width: 6px;height: 6px;margin-right:3px;border-radius:50%;background-color: rgba(255,255,255,.5);display: inline-block;}
        .banner .slider span.current {background-color: rgba(255,255,255,1);}

        .section {margin:30px 0;}
        .section-tit {position:relative;width: 100%;height:1em;margin: 0 auto;margin-top:1em;text-align: center;display: block;}
        .section-tit .box {border-top: 1px #dfdfdf solid;}
        .section-tit .box span {position:absolute;top:-12px;left:50%;margin-left:-50px;width:100px;color:#f80;background-color: #ebebeb;padding:0 2px;display: inline-block;}
        .section-tit .more {position:absolute;top:-12px;right:0;background-color: #ebebeb;padding:0 2px;}
        .section-tit .more a {color: #8a8a99;}

        .home-wapper {margin:8px 0;background-color: #fff;overflow: hidden;}
        .recommend-list {display: block;}
        .recommend-list li {float: left;min-height:154px;padding-top:1em;text-align:center;width: 33.1%;border-right:1px #f0f0f0 solid;border-bottom:1px #eee solid;display: inline-block;overflow: hidden;}
        .recommend-list li:nth-child(3n) {border-right: 0 none;}
        .recommend-list li:nth-child(4),.recommend-list li:nth-child(5),.recommend-list li:nth-child(6) {border-bottom: 0 none;}
        .recommend-list li a {display: block;}
        .recommend-list li .startup-logo {width: 4em;height: 4em;margin:0 auto;margin-bottom:10px;border-radius: 50%;display: block;}
        .recommend-list li .startup-name {margin: 0 auto;color:#445;width:80%;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
        .recommend-list li .startup-city {margin:0 1em;font-size: 12px;display: block;color: #8a8a99;}
        .recommend-list li .startup-desc {margin:0 1em 1em 1em;font-size: 12px;height:2.2em;padding-bottom:0.5em;display: block;color: #8a8a99;overflow:hidden;}

        .item-list {display:block;overflow: hidden;}
        .item-list li {padding: 1em 1em 0.5em 1em;margin-bottom: 0.5em;border-bottom: 1px #f0f0f0 solid;overflow: hidden;}
        .item-list li:last-child {border-bottom: 0 none;padding-bottom: 0;}
        .item-list li a {width:100%;display: block;overflow: hidden;}
        .item-list li .item-logo {float: left;width: 20%;}
        .item-list li .item-logo img {width: 5em;border-radius: 50%;}
        .item-list li .item-intro {float: right;width:75%;display: inline-block;}
        .item-list li .item-intro h3 {font-size: 16px;font-weight: 700;margin-bottom: 0.2em;}
        .item-list li .item-intro .item-desc {font-size:14px;color: #8a8a99;margin-bottom: 0.3em;}
        .item-list li .item-price {font-size:14px;color: #445;padding: 0.3em 0;}
        .item-list li .item-price a {color: #507daf;}
        .item-list li .item-intro .item-tag {font-size:14px;color: #8a8a99;padding-bottom:0.5em;border-bottom: 1px #e5e5e5 dotted;margin-bottom: 0.5em;}
        .item-list li .item-intro .item-tag span {color: #dde;margin: 0 0.5em;}

        .footer {max-width: 640px;margin:0 auto;padding-top:1em;background-color:#445;display: block;clear: both;overflow: hidden;}
        .footer-contact {width:100%;margin: 0 auto;overflow: hidden;}
        .footer-contact li {color: #d3d3d6;display: block;font-size:14px;line-height: 1.5em;}
        .footer-contact li .left {float: left;width: 49%;text-align: right;}
        .footer-contact li .right {float: right;width: 49%;text-align: left;}
        .footer-contact li em,.footer-contact li em a {color: #d3d3d6 !important;font-style: normal;}
        .footer-copyright {text-align: center;color: #d3d3d6;font-size:12px;margin-top:1em;padding: 15px 0;border-top: 1px #4f4f63 solid;}
        #wrapper {position:relative;height: 100%; }
        
        #wrapper .menu {position: relative;width: 100%;height: 100%;background-color:#445;
            -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }
        
        #wrapper .menu.animate, #wrapper .fixedGuide.animate  {
            -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }
        
        #wrapper .screen {position: absolute;top: 0;left: 80%;width: 100%;height: 100%;background-color: #ebebeb;
            -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }
        #wrapper .screen.animate, #wrapper .fixedGuide.animate {
            left: 80%;
            -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }
        
        #wrapper .expand.screen,#wrapper .expand.fixedGuide {left: 80%;}
        #wrapper .collapse.screen,#wrapper .collapse.fixedGuide {left: 0;}
        
        .menu-ico {float: left;margin-left: 1em;width:34px;height: 34px;background:url("http://pp1.evervc.com/mobi-topic-imgs/wap_ico_nav.png?2") no-repeat 0 0;background-size:25px;display: inline-block;cursor: pointer;}
        .menu-close {float: left;margin-left: 1em;width:34px;height: 34px;background:url("http://pp1.evervc.com/mobi-topic-imgs/wap_ico_close.png?6") no-repeat 0 0;background-size:25px;display: inline-block;cursor: pointer;}
        .menu .menu-list {border-top:1px #393949 solid;display: block;overflow: hidden;}
        .menu .menu-list li {margin-right:20%;text-indent:1.7em;border-bottom: 1px #393949 solid;display: block;}
        .menu .menu-list li.current a {background-color: #393949;border-left: 5px #ffd739 solid;color: #ffd739;margin-right: -5px;text-indent: 1.4em;}
        .menu .menu-list li a {color: #fff;width: 100%;line-height: 3.3em;display: block;}
        .menu .menu-list li a span {color: #9a9aaa;margin-left: 1em;font-size: 14px;}

        .menu-user {width: 80%;margin-bottom: 1em;display: block;clear: both;overflow: hidden;}
        .menu-user img {float: left;margin:1em 0 1em 1em;width: 3em;height: 3em;border-radius: 50%;border: 2px #fff solid;display: inline-block;}
        .menu-user .menu-user-info {margin: 1.5em 0 0 0.7em;display: inline-block;}
        .menu-user .menu-user-info a.unlog {color: #fff;padding: 0.3em 1.2em;background-color:#667;display: inline-block;margin-left: 0.3em;border-radius: 0.2em;}
        .menu-user .menu-user-info a.name {color: #fff;padding: 0.3em 1.2em;background-color:#667;display: inline-block;border-radius: 0.2em;}
        .menu-user .menu-user-info a.quit {margin-left:1em;color: #a6a8af;}
        .bottom{background:#f7f7f7;width:100%;height:50px;position:fixed;bottom:0;left:0;}
        .bottom ul li{float:left;width:20%;    display: block;height:50px;text-align: center;
       /* margin: 4px auto;*//*padding:5px 5px 5px 5px;*/}
        .bottom ul li a i{width:20%;font-size:16px;display:block;margin:7px auto 0px auto;}
        .bottom ul li a span{width:20%;/*padding-left:2em;*/font-size:14px;}
        .bottom ul{width:100%;height:50px;}
        .bottom ul li a{width:20%;height:50px;color:#999999;}
        .btn-default{background-color:white}

/*成功*/
/*.btn-success{color:red;background-color:#5eb95e; border-color:#5eb95e}*/
.bottom ul li a:hover,
.bottom ul li a:focus,
.bottom ul li a:active,
.bottom ul li a.active{color:#ff9107;/*background-color:#429842;*//*border-color:#429842*/}
.bottom ul li img{width:50px;height:46px}
.bottom ul li:nth-child(3){line-height:85px;}
.head .sear{
   height:34px;
    width:64%;
    margin:0 auto;
    position:relative;
}
 .sear input{
 	width:100%;
 	height:28px;
 	border-radius:3px;
 	font-size:14px;
} 
.sear a{
	position: absolute;
    top: 5px;
    right: 1px;
}
.sear a img{
	width:25px;
	height:23px;
}
.message{
	width:100%;
	color:white;
}
.xinxi{
	float:right;
	width:34px;
	color:white;
	background:url(../img/index_03.png) no-repeat 2px 14px;
	background-size:22px 22px;
	margin-top:-49px;
	padding-top:34px;
	margin-right:0.3em;
}

.main2{
	background:white;
	
	margin-top:7px;
}
.main2 dl dt{
    width:70px;
    height:70px;
    float:left;
    margin-left:10px;
}
.main2 dl{
	padding:10px 5px 20px 0;
	width:100%;
	height:73px;
	position:relative;
	border-bottom:1px solid #ccc;
}
.main2 dl dd{
    /*width:266px;
    height:70px;*/
    float:left;
    margin-left:5px;
}
.main2 .p4{
	font-size:16px;
}
.main2 .p5{
	font-size:14px;
	padding-top:4px;
	color:#999999;
	 width:200px;
    height:46px;
}
/*.main2 .s1{
	position:absolute;
	top:1px;
	left:313px;
	font-size:12px;
}*/
.main2 .s1{
	position:absolute;
	top:9px;
	left:19.9em;
	font-size:12px;
	background:#3599fc;
	color:white;
}
.main2 .s2{
	position:absolute;
	top:9px;
	left:22.8em;
	font-size:12px;
	background:#31c96e;
	color:white;
}
.rongzi{
	padding:10px 10px 31px 10px;
}
.p6{
	float:left;
}
.xin{
	float:right;
}
.rongzi .left,.rongzi .center,.rongzi .right{
	float:left;
	border:1px solid #ccc;
	margin-right:5px;
	padding:0px 7px;
	border-radius:4px;
}
