.rongzi{
	padding:10px 10px 31px 10px;
}
.p6{
	float:left;
}
.xin{
	float:right;
}
.rongzi .left,.rongzi .center,.rongzi .right{
	float:left;
	border:1px solid #ccc;
	margin-right:5px;
	padding:0px 7px;
	border-radius:4px;
}
#wrapper {position: relative;height: 100%;}
#wrapper .screen {position: absolute;top: 0;width: 100%;height: 100%;background-color: #ebebeb;}
.head {width: 100%;height:38px;position:fixed;top:0;left:0;background:#fe552e;z-index:1;}
   .head .fanhui{float:left;padding-top:5px;padding-left:12px;}
   .head .s1{position:absolute;top:9px;left:50%;margin-left:-40px;color:white;font-size:14px;}
   .head .fanhui img{width:17px;height:21px;padding-top:0.4em;}
   .head .message img{width:17px;height:21px;padding-top:0.4em;}
   .head .message{float:right;padding-top:5px;padding-right:5px;}
   #main5 .pgone{border-bottom:1px solid #ccc;padding:0em 0.5em;font-size:14px;}
#main5{width:100%;background:white;margin:3em 0 0 0;overflow:hidden;}
#main5 .list_1{    vertical-align: top;padding: 0.5em 0;overflow: hidden;margin:10px 10px;}
#main5 .list_1 li img{float:left;margin-top:1em;margin-left:1em;width:70px;height:70px;}
#main5 .list_1 li{width:100%;height:94px;border-bottom: 1px #f0f0f0 solid;position:relative;}
#main5 .list_1 li h4{font-size:16px;position:absolute;top:1em;left:6.3em;}
#main5 .list_1 li h5{font-size:14px;position:absolute;top:3em;left:7.3em;color:#999999;}
#main5 .show{    margin-bottom: -15px;line-height: 44px;height:57px;display: block;
color:#404040;text-align: center;}
.main2{
	background:white;
	margin:6px 0;
	margin-top:7px;
}
.box{margin:46px 0;}
.main2 dl dt{
    width:70px;
    height:70px;
    float:left;
    margin-left:10px;
}
.main2 dl{
	padding:10px 5px 20px 0;
	width:100%;
	height:73px;
	position:relative;
	border-bottom:1px solid #ccc;
}
.main2 dl dd{
    /*width:266px;
    height:70px;*/
    float:left;
    margin-left:5px;
}
.main2 .p4{
	font-size:16px;
}
.main2 .p5{
	font-size:14px;
	padding-top:4px;
	color:#999999;
	 width:200px;
    height:46px;
}
/*.main2 .s1{
	position:absolute;
	top:1px;
	left:313px;
	font-size:12px;
}*/
.main2 .s1{
	position:absolute;
	top:9px;
	left:19.9em;
	font-size:12px;
	background:#3599fc;
	color:white;
}
.main2 .s2{
	position:absolute;
	top:9px;
	left:22.8em;
	font-size:12px;
	background:#31c96e;
	color:white;
}
.rongzi{
	padding:10px 10px 31px 10px;
}
.p6{
	float:left;
}
.xin{
	float:right;
}
.rongzi .left,.rongzi .center,.rongzi .right{
	float:left;
	border:1px solid #ccc;
	margin-right:5px;
	padding:0px 7px;
	border-radius:4px;
}