.head {width: 100%;height:38px;position:fixed;top:0;left:0;background:#fe552e;padding-top: 0;z-index: 1;}
   .head .fanhui{float:left;padding-top:5px;padding-left:12px;}
   .head .fanhui img{width:17px;height:21px;padding-top:0.4em;}
   .head .message img{width:17px;height:21px;padding-top:0.4em;}
   .head .message{float:right;padding-top:8px;padding-right:12px;color:white;font-size:14px;}  
.head .s1{position:absolute;top:8px;left:50%;margin-left:-29px;color:white;font-size:14px;}  

         .head .search {margin-right:0.5em;}
        .head .search a {width:30px;height: 30px;background:url("http://pp1.evervc.com/mobi-topic-imgs/wap_ico_search.png") no-repeat 0 0;background-size:24px;display:inline-block;}
        
        .search-wrap form {padding: 7px 10px;}
        .search-wrap .search-input {margin-right: 54px;}
        .search-wrap .search-input input {float:left;width: 100%;height: 36px;line-height: 34px;margin-top:-1px;color:#445;border: 1px solid #ffd739;border-right:0 none;border-radius: 0;-webkit-appearance: none;text-indent: 10px;}
        .search-wrap .search-btn {float: right;padding: 6px 10px;color:#fff;background-color: #445;border: 0 none;margin-right: 0;}

        .navbar {width: 100%;margin-top:38px;padding:0px 0px;overflow:hidden;background:url(../img/beijing_01.png) no-repeat;background-size:100%;}
        .navbar .shang{padding:0px 10px;}
        .navbar .shang .img1{width:66px;height:66px;display:inline-block;}
        .navbar .shang dl dt{float:left;width:20%;margin-top:14px;margin-left:9px;}
        .navbar .shang dl dd{float:left;width:70%;margin-top:26px;margin-right:10px;}
        .navbar .shang dl dd .s2{color:white;font-size:14px;}
        .navbar .xia ul li a{color:white;}
        .navbar .xia ul li{width:33.33%;}
        .navbar ul {width:100%;text-align:center;overflow: hidden;display: block}
        .navbar ul li {float: left;width: 33.3%;}
        .navbar ul li:last-child {border-right: 0 none;}
        .navbar ul li a {font-size:14px;padding: 10px 0;display: block}
       

        .main {max-width: 750px;margin:0 auto;margin-top:38px;/*padding: 0px 0px;*/background-color:white;overflow: hidden;}
        .main ul li{width:100%;line-height: 40px;height:40px;border-bottom:1px solid #ccc;}
        .main ul{width:96%;margin:0 auto;}
        .main ul li .pg{float:left;padding-left:0.6em;font-size:14px;}
        .main ul li .pg1{float:right;padding-right:1em;font-size:14px;}
        .main ul li .pg1 img{width:15px;height:28px;}
         .main ul li .pg2{float:right;padding-right:1em;}
         .main ul li .pg2 img{vertical-align: middle;width:15px;height:25px;}
        .main ul li:nth-child(3){border:none;}
        .main ul li a{color:#404040;}
        .banner {position:relative;margin:0 auto;max-width: 620px;height:100%;overflow: hidden;}
        .banner ul {max-width: 620px;min-height: 100px;overflow: hidden;}
        .banner ul li {float: left;width: 100%;height: 100%;}
        .banner ul li a {width:100%;height: 100%;overflow: hidden;}
        .banner ul li a img {width:100%;display: block;}
        .banner .slider {position: absolute;right: 10px;bottom:5px;}
        .banner .slider span {width: 6px;height: 6px;margin-right:3px;border-radius:50%;background-color: rgba(255,255,255,.5);display: inline-block;}
        .banner .slider span.current {background-color: rgba(255,255,255,1);}

        .section {margin:30px 0;}
        .section-tit {position:relative;width: 100%;height:1em;margin: 0 auto;margin-top:1em;text-align: center;display: block;}
        .section-tit .box {border-top: 1px #dfdfdf solid;}
        .section-tit .box span {position:absolute;top:-12px;left:50%;margin-left:-50px;width:100px;color:#f80;background-color: #ebebeb;padding:0 2px;display: inline-block;}
        .section-tit .more {position:absolute;top:-12px;right:0;background-color: #ebebeb;padding:0 2px;}
        .section-tit .more a {color: #8a8a99;}

        .home-wapper {margin:8px 0;background-color: #fff;overflow: hidden;}
        .recommend-list {display: block;}
        .recommend-list li {float: left;min-height:154px;padding-top:1em;text-align:center;width: 33.1%;border-right:1px #f0f0f0 solid;border-bottom:1px #eee solid;display: inline-block;overflow: hidden;}
        .recommend-list li:nth-child(3n) {border-right: 0 none;}
        .recommend-list li:nth-child(4),.recommend-list li:nth-child(5),.recommend-list li:nth-child(6) {border-bottom: 0 none;}
        .recommend-list li a {display: block;}
        .recommend-list li .startup-logo {width: 4em;height: 4em;margin:0 auto;margin-bottom:10px;border-radius: 50%;display: block;}
        .recommend-list li .startup-name {margin: 0 auto;color:#445;width:80%;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
        .recommend-list li .startup-city {margin:0 1em;font-size: 12px;display: block;color: #8a8a99;}
        .recommend-list li .startup-desc {margin:0 1em 1em 1em;font-size: 12px;height:2.2em;padding-bottom:0.5em;display: block;color: #8a8a99;overflow:hidden;}

        .item-list {display:block;overflow: hidden;}
        .item-list li {padding: 1em 1em 0.5em 1em;margin-bottom: 0.5em;border-bottom: 1px #f0f0f0 solid;overflow: hidden;}
        .item-list li:last-child {border-bottom: 0 none;padding-bottom: 0;}
        .item-list li a {width:100%;display: block;overflow: hidden;}
        .item-list li .item-logo {float: left;width: 20%;}
        .item-list li .item-logo img {width: 5em;border-radius: 50%;}
        .item-list li .item-intro {float: right;width:75%;display: inline-block;}
        .item-list li .item-intro h3 {font-size: 16px;font-weight: 700;margin-bottom: 0.2em;}
        .item-list li .item-intro .item-desc {font-size:14px;color: #8a8a99;margin-bottom: 0.3em;}
        .item-list li .item-price {font-size:14px;color: #445;padding: 0.3em 0;}
        .item-list li .item-price a {color: #507daf;}
        .item-list li .item-intro .item-tag {font-size:14px;color: #8a8a99;padding-bottom:0.5em;border-bottom: 1px #e5e5e5 dotted;margin-bottom: 0.5em;}
        .item-list li .item-intro .item-tag span {color: #dde;margin: 0 0.5em;}

        .footer {max-width: 640px;margin:0 auto;padding-top:1em;display: block;clear: both;overflow: hidden;}
        .footer-contact {width:100%;margin: 0 auto;overflow: hidden;}
        .footer-contact li {color: #d3d3d6;display: block;font-size:14px;line-height: 1.5em;}
        .footer-contact li .left {float: left;width: 49%;text-align: right;}
        .footer-contact li .right {float: right;width: 49%;text-align: left;}
        .footer-contact li em,.footer-contact li em a {color: #d3d3d6 !important;font-style: normal;}
        .footer-copyright {text-align: center;color: #d3d3d6;font-size:12px;margin-top:1em;padding: 15px 0;border-top: 1px #4f4f63 solid;}
        #wrapper {position:relative;height: 100%; }
        
        #wrapper .menu {position: relative;width: 100%;height: 100%;background-color:#445;
            -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }
        
        #wrapper .menu.animate, #wrapper .fixedGuide.animate  {
            -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }
        
        #wrapper .screen {position: absolute;top: 0;left: 80%;width: 100%;height: 100%;background-color: #ebebeb;
            -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }
        #wrapper .screen.animate, #wrapper .fixedGuide.animate {
            left: 80%;
            -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }
        
        #wrapper .expand.screen,#wrapper .expand.fixedGuide {left: 80%;}
        #wrapper .collapse.screen,#wrapper .collapse.fixedGuide {left: 0;}
        
        .menu-ico {float: left;margin-left: 1em;width:34px;height: 34px;background:url("http://pp1.evervc.com/mobi-topic-imgs/wap_ico_nav.png?2") no-repeat 0 0;background-size:25px;display: inline-block;cursor: pointer;}
        .menu-close {float: left;margin-left: 1em;width:34px;height: 34px;background:url("http://pp1.evervc.com/mobi-topic-imgs/wap_ico_close.png?6") no-repeat 0 0;background-size:25px;display: inline-block;cursor: pointer;}
        .menu .menu-list {border-top:1px #393949 solid;display: block;overflow: hidden;}
        .menu .menu-list li {margin-right:20%;text-indent:1.7em;border-bottom: 1px #393949 solid;display: block;}
        .menu .menu-list li.current a {background-color: #393949;border-left: 5px #ffd739 solid;color: #ffd739;margin-right: -5px;text-indent: 1.4em;}
        .menu .menu-list li a {color: #fff;width: 100%;line-height: 3.3em;display: block;}
        .menu .menu-list li a span {color: #9a9aaa;margin-left: 1em;font-size: 14px;}

        .menu-user {width: 80%;margin-bottom: 1em;display: block;clear: both;overflow: hidden;}
        .menu-user img {float: left;margin:1em 0 1em 1em;width: 3em;height: 3em;border-radius: 50%;border: 2px #fff solid;display: inline-block;}
        .menu-user .menu-user-info {margin: 1.5em 0 0 0.7em;display: inline-block;}
        .menu-user .menu-user-info a.unlog {color: #fff;padding: 0.3em 1.2em;background-color:#667;display: inline-block;margin-left: 0.3em;border-radius: 0.2em;}
        .menu-user .menu-user-info a.name {color: #fff;padding: 0.3em 1.2em;background-color:#667;display: inline-block;border-radius: 0.2em;}
        .menu-user .menu-user-info a.quit {margin-left:1em;color: #a6a8af;}

#wrap{
	width: 100%;
	clear: both;
	overflow: hidden;
	margin-top:81px;
	
}
.wrap{
	width: 100%;
}
.main .p1{
	font-size:14px;
	font-weight:900;
	padding-top:5px;
	padding-left:19px;
}
.main .p2{
	padding-top:3px;
	padding-left:19px;
}
.main .p3{
	padding-top:3px;
	padding-bottom:7px;
	padding-left:19px;
}
.main2{
	width:100%;background:white;/*margin:6px 0;*/overflow:hidden;max-width: 750px;margin:6px auto;
}
.main2 .p4{
	padding-top:3px;
	padding-left:19px;
}
.main2 .ip1{
	border:none;
	background:#dbdbdb;
	width:65%;
	height:28px;
	margin-top:3px;
	margin-left:69px;
	border-radius:2px;
}
.main2 .ip1::-webkit-input-placeholder{
	padding-left:10px;
}
.main2 span{
	padding-left:10px;
	color:red;
}
.main2 .p5,.main2 .p6,.main2 .p7,.main2 .p8,.main2 .p9{
	padding-top:18px;
	padding-left:19px;
}
.main2 .xuan{
	font-size:12px;
	padding-top:6px;
	padding-left:23px;
}
.main2 textarea{
    width:90%;
	height:100px;
	border-radius:2px;
	border:1px solid #ccc;
}
.main2 textarea::-webkit-input-placeholder{
	padding-left:10px;
	padding-top:3px;
}
.main2 .chuan{
	opacity: 0;
	position:absolute;
	top:30px;
	left:27px;
	height:80px;
}
.main2 .chuan1{
	opacity: 0;
	position:absolute;
	top:30px;
	left:138px;
	height:80px;
}
.main2 .chuan2{
	opacity: 0;
	position:absolute;
	top:30px;
	left:250px;
	height:80px;
}
.img1{
	width:25px;
	height:25px;
}
.main2 ul{
	width:90%;
	height:120px;
	margin:8px auto;
	position:relative;
}
.main2 ul li{
	float:left;
	width:29%;
	height:120px;
	
	margin-left:3%;
	text-align: center;
	border:1px solid #ccc;
}
.main2 ul li a{
	width:60%;
	height:50px;
	margin-top:15px;
	border:1px dashed #ccc;
	display:inline-block;
	
	line-height: 60px;
}
.main2 ul li span{
	font-size:8px;
	display:block;
	color:#ccc;
	margin-top:2px;
}
.main2 .xuan1{
	font-size:12px;
	padding-top:6px;
	padding-left:23px;
}
.fangshi{
	/*padding-top:18px;
	padding-left:47px;*/
	padding:9px 10px;
	border-bottom:1px solid #ccc;
}
.fangshi label{
	width:100%;
	font-size:14px;
}
.fangshi input{
	height:100%;
	border:none;
	margin:2px 0;
	width:62%;
	float:right;
	text-align: right;
}
.fangshi select{
	margin:2px 0;
    float:right;
}
.info div{
	
}

.info{
	
	/*margin-bottom:2px;
	margin-left:2px;*/
}
.fangshi input::-webkit-input-placeholder{
	color:#ccc;
	text-align: right;
}
.top{ margin:5px auto; color:#990000; text-align:center;}

.info select{ border:1px #ccc solid; border-radius:4px;background:#FFFFFF;}

.info{ margin:10px 0;
	padding-left:44px;font-size:14px;}
select#s_city{width:70px;height:23px;}
select#s_province{width:50px;height:23px;}
select#s_county{width:80px;height:23px;}
.bottom{ text-align:right; font-size:12px;  width:1000px;}
.fabu{
	padding:2px 26px;
	border:1px solid #fe552e;
	border-radius:3px;
	color:white;
	background:#fe552e;
}
.fa{
	margin-top:30px;
	width:100%;
	margin-bottom:30px;
	text-align: center;
}
/*alert弹框样式*/
.alert_div{
width:230px;
height:100px;
position:absolute;
left:50%;
top:50%;
margin-left:-113px;
margin-top:-100px;
 /*top:0; left:0; bottom:0;
position:fixed;*/

/*position:absolute; top:50%; left:50%; margin-left:-300px;margin-top:-400px;*/

background-color:#f7f7f7;
z-index:5000;
/*box-shadow:5px 5px 5px #ccc;*/
}
.alert_div>h1{
background-color:#fe552e ;
font-size:16px;
color:#fff;
display:block;
width:100%;
height:30px;
line-height:30px;
margin-top:0px;
padding-left:1px;
text-align: center;
}
.alert_div>img{
margin:0 5px 0 10px;
width:40px;
height:40px;
}
.alert_div>span{
display:block;
height:30px;
line-height:60px;
margin-top:-10px;
font-size:14px;
text-align: center;
}

        .main {max-width: 620px;margin:8px auto;padding: 5px 10px;background-color:white;}
        .main .box1 .p1{
        	display:inline-block;
        }
         .main .box1 .sp1{float:right;padding-right:20px;
         background:url(../img/wd_06.png) no-repeat right center;    background-size: 10px 13px;}
        .main .box1{width:100%;height:40px;line-height: 40px;    border-bottom: 1px solid #ccc;
        background:url(../img/wd_03.png) no-repeat 5px center;
        background-size:15px 15px;}
        .main .box1 .p1{float:left;margin-left:24px;font-size: 14px;}
        .main .box1:nth-child(6){border:none;}
        .ma1{width:100%;height:110px;background:#fe552e;}
