.head {width: 100%;height:38px;padding-top:12px;background-color: #ffd705;}
        .user-me img {float:left;width: 30px;height: 30px;border-radius: 50%;vertical-align: middle;}
       
        .head .tit {position:absolute;top:15px;left:50%;margin-left:-40px;text-align:center;width: 80px;height:26px;line-height:24px;font-size:18px;}
        .head .search {float: right;}
        .head .search .search-status {margin-top:0.1em;display: block;}
        .search-status .search-cancel {color: #f70;margin-right: 0.7em;}
        .head .search {margin-right:0.5em;}
        .head .search a {width:30px;height: 30px;background:url("http://pp1.evervc.com/mobi-topic-imgs/wap_ico_search.png") no-repeat 0 0;background-size:24px;display:inline-block;}
        .head .search-wrap {position: absolute;top: 50px;left: 0;width: 100%;height: 50px;border-top:1px #f3cb2b solid;background-color: #ffd739;display: block;}
        .search-wrap form {padding: 7px 10px;}
        .search-wrap .search-input {margin-right: 54px;}
        .search-wrap .search-input input {float:left;width: 100%;height: 36px;line-height: 34px;margin-top:-1px;color:#445;border: 1px solid #ffd739;border-right:0 none;border-radius: 0;-webkit-appearance: none;text-indent: 10px;}
        .search-wrap .search-btn {float: right;padding: 6px 10px;color:#fff;background-color: #445;border: 0 none;margin-right: 0;}

        .tabbar {width: 100%;background-color: #fff;border-top:1px #f3cb2b solid;}
        .tabbar ul {width:100%;text-align:center;overflow: hidden;display: block}
        .tabbar ul li {float: left;width: 24.6%;border-right: 1px #f0f0f0 solid;}
        .tabbar ul li:last-child {border-right: 0 none;}
        .tabbar ul li a {color:#445;padding: 10px 0;display: block}
        .tabbar ul li.current a {color: #f70;}
        .tabbar ul li a .ico-filter {margin:-2px 2px 0 0;vertical-align:middle;width: 16px;height: 16px;background: url("http://pp1.evervc.com/mobi-topic-imgs/wap_ico_filter.png") no-repeat 0 0;background-size: cover;display: inline-block;}

        .main {max-width: 620px;margin: 0 auto;padding: 10px;background-color: #ebebeb;}
        .item-section {margin:0;}
        .item-wapper {margin:0 0 8px 0;overflow: hidden;}

        .item-card {display:block;overflow: hidden;}
        .item-card li {padding: 1em 1em 0.5em 1em;margin-bottom: 0.5em;background-color: #fff;overflow: hidden;}
        .item-card li a {width:100%;display: block;overflow: hidden;}
        .item-card li .item-logo {float: left;width: 20%;}
        .item-card li .item-logo img {width: 5em;border-radius: 50%;}
        .item-card li .item-intro {float: right;width:77%;display: inline-block;}
        .item-card li .item-intro h3 {font-size: 16px;font-weight: 700;color: #445;}
        .item-card li .item-intro .item-desc {font-size:14px;color: #8a8a99;margin-bottom: 0.3em;}
        .item-card li .item-price {font-size:14px;color: #445;padding: 0.3em 0;}
        .item-card li .item-price a {color: #507daf;padding: 0.1em 0;}
        .item-card li .item-intro .item-tag {font-size:14px;color: #8a8a99;padding-bottom:0.5em;border-bottom: 1px #e5e5e5 dotted;margin-bottom: 0.5em;}
        .item-card li .item-intro .item-tag span {color: #dde;margin: 0 0.5em;}
        .loading {text-align: center;width: 100%;height: 44px;margin: 0 auto;margin-top: 0.5em;margin-bottom: 1em;}
        .loading a {width: 100%;height: 44px;line-height: 44px;font-size:14px;color:#445;background-color: #fff;display: block;}
        .loading img {width: 40px;height: 40px;border-radius:50%;}

        .footer {max-width: 640px;margin:0 auto;padding-top:1em;background-color:#445;display: block;clear: both;overflow: hidden;}
        .footer-contact {width:100%;margin: 0 auto;overflow: hidden;}
        .footer-contact li {color: #d3d3d6;display: block;font-size:14px;line-height: 1.5em;}
        .footer-contact li .left {float: left;width: 49%;text-align: right;}
        .footer-contact li .right {float: right;width: 49%;text-align: left;}
        .footer-contact li em,.footer-contact li em a {color: #d3d3d6 !important;font-style: normal;}
        .footer-copyright {text-align: center;color: #d3d3d6;font-size:12px;margin-top:1em;padding: 15px 0;border-top: 1px #4f4f63 solid;}

        .filter-wrap {position:fixed;bottom: 0;left: 0;width: 100%;height: 100%;border-top:1px #f0f0f0 solid;background-color:#fff;overflow: hidden;display: block;}
        .filter-tit {height: 44px;line-height: 44px;margin-right:-1em;background-color: #ffd739;color: #445;font-size: 16px;text-align: center;display: block;}
        .filter-tit .name {margin-right: -35px;}
        .filter-tit .cancel {float: right;text-align:left;width:70px;color: #f70;display: inline-block;}
        .filter-main {position:relative;margin: 0 auto;max-width: 640px;height: 100%;display: block;}
        .filter-content {width:100%;height:82%;margin-bottom:3em;overflow-y:scroll;}
        .filter-group {margin:1em 0.5em;overflow:hidden;display: block;clear: both;}
        .filter-group h3 {color: #8a8a99;margin-bottom: 0.5em;font-size:14px;}
        .filter-group ul {display: block;}
        .filter-group ul li {float: left;text-align:center;margin:0.3em;font-size:14px;width: 21%;height:2.2em;line-height: 2.4em;border: 1px #eee solid;border-radius: 0.2em;display: inline-block;cursor: pointer;}
        .filter-group ul li.current {border: 1px #ffd739 solid;background-color: #fff7d8;color: #f80;}
        .filter-main .filter-btn {position:absolute;bottom:0;left:0;text-align:center;width: 100%;height: 3em;line-height: 3em;display: block;}
        .filter-main .filter-btn .reset {float:left;width: 25%;background-color: #8a8a99;color: #fff;cursor: pointer;}
        .filter-main .filter-btn .confirm {float:left;width: 75%;background-color: #ffd739;color: #445;cursor: pointer;}
        .toTop {position: fixed; _position: absolute;right: 1em;bottom: 3.2em;width: 2em;height: 2em;background: url("http://pp1.evervc.com/mobi-topic-imgs/wap_arrow_top.png") no-repeat 0 0;
        background-size: cover;display: inline-block;cursor: pointer;}
         #wrapper {position:relative;height: 100%; }
        
        #wrapper .menu {position: relative;width: 100%;height: 100%;background-color:#445;
            -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }
        
        #wrapper .menu.animate, #wrapper .fixedGuide.animate  {
            -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }
        
        #wrapper .screen {position: absolute;top: 0;left: 80%;width: 100%;height: 100%;background-color: #ebebeb;
            -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }
        #wrapper .screen.animate, #wrapper .fixedGuide.animate {
            left: 80%;
            -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }
        
        #wrapper .expand.screen,#wrapper .expand.fixedGuide {left: 80%;}
        #wrapper .collapse.screen,#wrapper .collapse.fixedGuide {left: 0;}
        
        .menu-ico {float: left;margin-left: 1em;width:34px;height: 34px;background:url("http://pp1.evervc.com/mobi-topic-imgs/wap_ico_nav.png?2") no-repeat 0 0;background-size:25px;display: inline-block;cursor: pointer;}
        .menu-close {float: left;margin-left: 1em;width:34px;height: 34px;background:url("http://pp1.evervc.com/mobi-topic-imgs/wap_ico_close.png?6") no-repeat 0 0;background-size:25px;display: inline-block;cursor: pointer;}
        .menu .menu-list {border-top:1px #393949 solid;display: block;overflow: hidden;}
        .menu .menu-list li {margin-right:20%;text-indent:1.7em;border-bottom: 1px #393949 solid;display: block;}
        .menu .menu-list li.current a {background-color: #393949;border-left: 5px #ffd739 solid;color: #ffd739;margin-right: -5px;text-indent: 1.4em;}
        .menu .menu-list li a {color: #fff;width: 100%;line-height: 3.3em;display: block;}
        .menu .menu-list li a span {color: #9a9aaa;margin-left: 1em;font-size: 14px;}

        .menu-user {width: 80%;margin-bottom: 1em;display: block;clear: both;overflow: hidden;}
        .menu-user img {float: left;margin:1em 0 1em 1em;width: 3em;height: 3em;border-radius: 50%;border: 2px #fff solid;display: inline-block;}
        .menu-user .menu-user-info {margin: 1.5em 0 0 0.7em;display: inline-block;}
        .menu-user .menu-user-info a.unlog {color: #fff;padding: 0.3em 1.2em;background-color:#667;display: inline-block;margin-left: 0.3em;border-radius: 0.2em;}
        .menu-user .menu-user-info a.name {color: #fff;padding: 0.3em 1.2em;background-color:#667;display: inline-block;border-radius: 0.2em;}
        .menu-user .menu-user-info a.quit {margin-left:1em;color: #a6a8af;}
                .bottom{background:#f7f7f7;width:100%;height:50px;position:fixed;bottom:0;left:0;}
        .bottom ul li{float:left;width:20%;    display: block;height:50px;text-align: center;
       /* margin: 4px auto;*//*padding:5px 5px 5px 5px;*/}
        .bottom ul li a i{width:20%;font-size:16px;display:block;margin:7px auto 0px auto;}
        .bottom ul li a span{width:20%;/*padding-left:2em;*/font-size:14px;}
        .bottom ul{width:100%;height:50px;}
        .bottom ul li a{width:20%;height:50px;}
        .btn-default{background-color:white}

/*成功*/
/*.btn-success{color:red;background-color:#5eb95e; border-color:#5eb95e}*/
/*.bottom ul li a:hover,
.bottom ul li a:focus,
.bottom ul li a:active,
.bottom ul li a.active{color:#ff9107;}*/