<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="card/site:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">

    <form action="?card/site-edit.html" mini-form="guan-form" method="post" ENCTYPE="multipart/form-data">
    <input type="hidden" name="id" value="<{$detail.acid}>"/>
<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li><a href="#table-info">基本信息</a></li>
</ul>
<table width="100%" border="0" cellspacing="0" id="table-info" class="table-data form">
<tr><th>名称：</th><td><input type="text" name="data[name]" value="<{$detail.name|default:''}>" class="input w-300"/></td></tr>
<tr><th>编号(uniacid)：</th><td><input type="text" name="data[uniacid]" value="<{$detail.uniacid|default:''}>" class="input w-50"/></td></tr>

<tr><th>小程序账号：</th><td><input type="text" name="data[account]" value="<{$detail.account|default:''}>" class="input w-300"/></td></tr>
<tr><th>原始ID：</th><td><input type="text" name="data[original]" value="<{$detail.original|default:''}>" class="input w-300"/></td></tr>
<tr><th>AppId：</th><td><input type="text" name="data[key]" value="<{$detail.key|default:''}>" class="input w-300"/></td></tr>
<tr><th>AppSecret：</th><td><input type="text" name="data[secret]" value="<{$detail.secret|default:''}>" class="input w-300"/></td></tr>

<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>        
<table width="100%" border="0" cellspacing="0" class="table-data form" id="table-attr" style="display:none;">
<{widget id="attr/form" from="zx:guan"}>
<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>        
        
</form></div>

<script type="text/javascript">
(function(K, $){
    $("div.page-data").tabs();
$("select[name='data[city_id]']").live('change', function(){
	var city_id = $(this).val();
	if(!city_id){return false;}
	$.getJSON("?data/area-city-"+city_id+".html", function(ret){
		if(ret.error){
			Widget.MsgBox.error(ret.message.join(","));
		}else if(ret.areas.length>0){
			var html = "";
			for(var i=0; i<ret.areas.length; i++){
				html += '<option value="'+ret.areas[i].area_id+'">'+ret.areas[i].area_name+'</option>';
			}
			$("select[name='data[area_id]']").html(html);
		}else{
			$("select[name='data[area_id]']").html('<option value="">--</option>');
		}
	});
});
})(window.KT, window.jQuery);
</script>
<{include file="admin:common/footer.html"}>