<{include file="admin:common/header.html"}>
<div class="page-title">
    <table width="100%" align="center" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="30" align="right"><img src="<{$pager.url}>/images/main-h5-ico.gif" alt="" /></td>
        <th><{$MOD.title}></th>
        <td align="right"><{link ctl="mingpian/mingpian:index" priv="hidden" class="button"}></td>
        <td width="15"></td>
      </tr>
    </table>
</div>
<div class="page-data">

    <form action="?mingpian/mingpian-edit.html" mini-form="guan-form" method="post" ENCTYPE="multipart/form-data">
    <input type="hidden" name="mingpian_id" value="<{$detail.mingpian_id}>"/>
<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li><a href="#table-info">基本信息</a></li>
</ul>
<table width="100%" border="0" cellspacing="0" id="table-info" class="table-data form">
<tr><th>姓名：</th><td><input type="text" name="data[username]" value="<{$detail.username|default:''}>" class="input w-300"/></td></tr>
<tr><th>头像：</th><td><img src="<{$pager.img}>/<{$detail.face}>" /><input type="file" name="data[face]" class="input w-300" />150*150px</td></tr>
<tr><th>职位：</th><td><input type="text" name="data[zhiwei]" value="<{$detail.zhiwei|default:''}>" class="input w-300"/></td></tr>
<tr><th>部门：</th><td><input type="text" name="data[bumen]" value="<{$detail.bumen|default:''}>" class="input w-300"/></td></tr>
<tr><th>手机：</th><td><input type="text" name="data[mobile]" value="<{$detail.mobile|default:''}>" class="input w-300"/></td></tr>
<tr><th>电话：</th><td><input type="text" name="data[phone]" value="<{$detail.phone|default:''}>" class="input w-300"/></td></tr>
<tr><th>QQ：</th><td><input type="text" name="data[qq]" value="<{$detail.qq|default:''}>" class="input w-300"/></td></tr>
<tr><th>Email：</th><td><input type="text" name="data[email]" value="<{$detail.email|default:''}>" class="input w-300"/></td></tr>
<tr><th>微信：</th><td><input type="text" name="data[weixinhao]" value="<{$detail.weixinhao|default:''}>" class="input w-300"/></td></tr>
<tr><th>微信二维码：</th><td><img src="<{$pager.img}>/<{$detail.weixin}>" /><input type="file" name="data[weixin]" class="input w-300" />320*320px</td></tr>
<tr><th>善长：</th><td><input type="text" name="data[shanchang]" value="<{$detail.shanchang|default:''}>" class="input w-500"/></td></tr>
<tr><th>简介：</th><td><textarea name="data[jianjie]"  style="width:800px;height:100px;"><{$detail.jianjie}></textarea><br /></td></tr>
<tr><th>经验：</th>
	<td>
		<label>经验:<input type="text" name="data[jingyan]" value="<{$detail.jingyan|default:''}>" class="input w-100"/>年</label>
	</td>
</tr>
<tr><th>项目数：</th><td>已服务<input type="text" name="data[num]" value="<{$detail.num|default:''}>" class="input w-100"/>位参展商</td></tr>
<tr><th>排序：</th><td><input type="text" name="data[orderby]" value="<{$detail.orderby|default:'50'}>" class="input w-100"/></td></tr>
<tr>
    <th>是否列表显示：</th>
    <td>
        <label><input type="radio" name="data[isshow]" checked="checked" value="1"/>显示</label>&nbsp;&nbsp;
        <label><input type="radio" name="data[isshow]" value="0"/>不显示</label>
        列表不显示但通过连接可正常访问
    </td>
</tr>
<tr>
    <th>是否关闭：</th>
    <td>
        <label><input type="radio" name="data[closed]" checked="checked" value="0"/>正常</label>&nbsp;&nbsp;
        <label><input type="radio" name="data[closed]" value="1"/>禁用</label>
        关闭后前台不可访问
    </td>
</tr>
<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>        
<table width="100%" border="0" cellspacing="0" class="table-data form" id="table-attr" style="display:none;">
<{widget id="attr/form" from="zx:guan"}>
<tr><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据" /></td></tr>
</table>        
        
</form></div>
<script type="text/javascript" src="<{$pager.res}>/kindeditor/kindeditor.js"></script>
<script type="text/javascript" src="<{$pager.res}>/script/widget.bmap.js"></script>
<script type="text/javascript">
(function(K, $){
var editor = KindEditor.create('textarea[kindeditor]', {uploadJson : '?magic/upload-editor.html', extraFileUploadParams:{OATOKEN:"<{$OATOKEN}>"}});
})(window.KT, window.jQuery);
</script> <script type="text/javascript">
(function(K, $){
    $("div.page-data").tabs();
$("select[name='data[city_id]']").live('change', function(){
	var city_id = $(this).val();
	if(!city_id){return false;}
	$.getJSON("?data/area-city-"+city_id+".html", function(ret){
		if(ret.error){
			Widget.MsgBox.error(ret.message.join(","));
		}else if(ret.areas.length>0){
			var html = "";
			for(var i=0; i<ret.areas.length; i++){
				html += '<option value="'+ret.areas[i].area_id+'">'+ret.areas[i].area_name+'</option>';
			}
			$("select[name='data[area_id]']").html(html);		
		}else{
			$("select[name='data[area_id]']").html('<option value="">--</option>');
		}
	});
});
})(window.KT, window.jQuery);
</script>
<{include file="admin:common/footer.html"}>