<div data-role="panel" data-display="overlay" data-position="right" id="userFactoryOfferPanel">
        <h2>设计导航</h2>
        <ul data-role="listview" data-icon="false">
            <li><a href="<{link ctl='member/sheji/canzhan:sheji'}>">我的订单</a> </li>
            <li data-role="list-divider">账户管理</li>
            <li><a href="<{link ctl='member/designer:index'}>">个人中心</a> </li>
            <li><a href="<{link ctl='member/member:info'}>">基本信息</a> </li>
            <li><a href="<{link ctl='member/member:passwd'}>">修改密码</a> </li>
            <li><a href="<{link ctl='member/member:mail'}>">更换邮箱</a> </li>
            <li><a href="<{link ctl='member/designer:info'}>">资料设置</a></li>
            <!-- <li><a href="<{link ctl='member/member:face'}>">修改头像</a> </li>
            <li><a href="<{link ctl='member/member/verify:name'}>">实名认证</a> </li>
            <li><a href="<{link ctl='member/member:bindaccount'}>">账号绑定</a> </li>
            <li><a href="<{link ctl='member/designer:logs'}>">财务管理</a> </li>
            <li><a href="<{link ctl='member/member:logs'}>">展币日志</a> </li>
            <li><a href="<{link ctl='member/designer/blog:index'}>">文章管理</a> </li>
            <li><a href="<{link ctl='member/sheji/zhantai:index'}>">案例管理</a> </li> -->
        </ul>
</div>