<div data-role="panel" data-display="overlay" data-position="right" id="userFactoryOfferPanel">
        <h2>导航</h2>
        <ul data-role="listview" data-icon="false">
            <li><a href="<{link ctl='member/shang/canzhan:create'}>">发布订单</a> </li>
            <li><a href="<{link ctl='member/shang/canzhan:canzhan'}>">我的订单</a> </li>
            <li><a href="<{link ctl='member/shang/canzhan:qianyue'}>">签约监督</a> </li>
            <!-- <li data-role="list-divider">企业中心</li>
            <li><a href="<{link ctl='member/shang:index'}>">中心首页</a> </li>
            <li><a href="<{link ctl='member/shang:info'}>">基本信息</a> </li>
            <li><a href="<{link ctl='member/shang:piao'}>">发票信息</a> </li>
            <li><a href="<{link ctl='member/shang:user'}>">管理人员</a> </li> -->
        </ul>
</div>