<div data-role="panel" data-display="overlay" data-position="right" id="userFactoryOfferPanel">
        <h2>工厂导航</h2>
        <ul data-role="listview" data-icon="false">
        	<li><a href="<{link ctl='member/chao/baojia:index'}>">展台报价</a> </li>
            <li><a href="<{link ctl='member/chao/baojia:qiandan'}>">签单项目</a> </li>
            <!-- <li data-role="list-divider">账户管理</li>
            <li><a href="<{link ctl='member/company:index'}>">管理中心</a> </li>
            <li><a href="<{link ctl='member/company:info'}>">工厂信息</a> </li>
            <li><a href="<{link ctl='member/company/photo:index'}>">工厂设备</a> </li>
            <li><a href="<{link ctl='member/company/news:index'}>">工厂动态</a> </li>
            <li><a href="<{link ctl='member/company/case:index'}>">案例管理</a> </li> -->
        </ul>
</div>