<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>工厂入驻_一路展展装网</title>
    <meta name="description" content="一路展根据参展商需求精准匹配平台认证设计师设计5套方案，精准匹配认证加工厂直接面对面展商自主选择。">
    <meta name="Keywords" content="参展商,展装,特装,APP,一路展">
    <{include file="mobile:block/header.html"}>
</head>
<body>
<div data-role="page" id="pageAd" class="page1" data-dom-cache="false" data-title="工厂入驻_一路展展装网">


    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-fullscreen="true"
         class="header adPageHeader">
        <a href="#" data-direction="reverse" data-rel="back" class="ui-btn iconfont icon-jiantou"></a>

        <h1><i class="designerNum"></i></h1>
        <!--<a href="search.html" data-transition="slide" class="ui-btn iconfont icon-search"></a>-->

    </div>
    <div data-role="main" class="oemMain">
        <div class="swiper-container" id="gc1312312312" data-myswiper="true">
            <div class="swiper-wrapper">
                <div class="swiper-slide">

                    <div class="gcS1-img"><img src="//www.jisunet.com/mobile/img/ad/20160321/s1-n.png"/></div>
                    <div class="gcS1-logo">
                        <img src="//www.jisunet.com/mobile/img/ad/20160321/s1-l.png"/>
                        <a class="adN-btn gc-btn" href="<{link ctl='user:regone' arg0='company'}>">立即加入</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gcS2-wz"><img src="//www.jisunet.com/mobile/img/ad/20160321/s2-wz.png"/></div>
                    <div class="gcS2-n">
                        <img src="//www.jisunet.com/mobile/img/ad/20160321/s2-n.png"/>
                        <a class="adN-btn gc-btn" href="<{link ctl='user:regone' arg0='company'}>">立即加入</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gcS2-wz"><img src="//www.jisunet.com/mobile/img/ad/20160321/s3-wz.png"/></div>
                    <div class="gcS2-n">
                        <img src="//www.jisunet.com/mobile/img/ad/20160321/s3-n.png"/>
                        <a class="adN-btn gc-btn" href="<{link ctl='user:regone' arg0='company'}>">立即加入</a>
                    </div>
                </div>
            </div>
            <img class="newAd-bg" data-swiper-parallax-y="-25%" src="//www.jisunet.com/mobile/img/ad/20160321/s1-bg.jpg"/>
        </div>
        <div class="s-ico"><img src="//www.jisunet.com/mobile/img/ad/s-ico.png"/></div>
    </div>

</div>
<{include file="mobile:block/bottom.html"}>
</body>
</html>