<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>干点活</title>
    <meta name="keywords" content="干点活"/>
    <meta name="description" content="干点活"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui"/>
    <meta name="apple-touch-fullscreen" content="YES"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <script src="js/jquery.js"></script>
    <script src="js/index.js"></script>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/introduce.css"/>
    <link rel="stylesheet" href="css/iconfont.css"/>
    <link rel="stylesheet" href="css/iconfont1.css"/>
    <link rel="stylesheet" href="css/iconfont3.css"/>
    <link rel="stylesheet" href="css/iconfont4.css"/>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?b8afd1353ddcc6a6e3630d282272fa54";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div id="wrapper" class="collapse">

    <script>
        $(function () {
            $(".menu-ico").click(function (e) {
                e.preventDefault();
                $(this).hide();
                $("#wrapper").css("overflow", "hidden");
                $("div.screen, div.fixedGuide").addClass("expand").removeClass("collapse");
                $(".menu-close").fadeIn();
            });

            $(".menu-close").click(function (e) {
                e.preventDefault();
                $(this).hide();
                $("div.screen, div.fixedGuide").removeClass("expand").addClass("collapse");
                $(".menu-ico").fadeIn();
                window.setTimeout(function () {
                    $("#wrapper").css("overflow", "visible");
                }, 1000);
            });
        });
    </script>

    <div class="screen animate collapse">

        <header class="head">
            <a href="<{link ctl='index'}>" class="fanhui"><img src="img/tou_03.png"></a>
            <span class="s1">干点活</span>
            <a href="#" class="message"><img src="img/tou_05.png"></a>

        </header>


        <script>
            $(function () {
                $(".search-status a").click(function (e) {
                    e.preventDefault();
                    $(this).hide();
                    $(".search-cancel, .search-wrap").fadeIn();
                });

                $(".search-cancel").click(function (e) {
                    e.preventDefault();
                    $(".search-cancel").hide();
                    $(".search-wrap").fadeOut();
                    $(".search-status a").fadeIn();
                });

            });
        </script>


        <div class="navbar">
            <div class="shang">
                <dl>
                    <dt><img class="img1" src="<{$pager.img}>/<{$xiangmu.thumb}>"></dt>
                    <dd style="margin: 10px;"><span class="s2"><{$xiangmu.title}></span></dd>
                </dl>
            </div>
            <div class="xia">
                <ul>
                    <li><a href="#"><{$xiangmu.views}><p>浏览</p></a></li>
                    <li><a href="#"><{$xiangmu.favorites}><p>约谈</p></a></li>
                    <li><a href="#"><{$xiangmu.comments}><p>粉丝</p></a></li>
                </ul>
            </div>
        </div>

        <div class="main">
            <ul>
                <li>
                    <span class="pg">源码语言</span>
                    <span class="pg1"><{$xiangmu.yuyan}></span>
                </li>
                <li>
                    <span class="pg">软件大小</span>
                    <span class="pg1"><{$xiangmu.size}></span>
                </li>
                <li><a href="#">
                    <a href="<{$xiangmu.gurl}>">
                        <span class="pg">官方主页</span>
                        <span class="pg2"><{$xiangmu.gurl}><img src="img/jiantou_07.png"></span>
                    </a>
                </a>
                </li>
            </ul>
        </div>
        <div class="main1">
            <p class="pgone">项目介绍</p>
            <div class="bao">
                <p class="pgone2"><{$xiangmu.desc}></p>
                <div id="div1" style="width: 96%;margin: 0 auto;">
                    <{$xiangmu.content}>
                    <a class="teshu" href="javascript:void(0);" style="text-align: center;">收起</a>
                </div>
            </div>
        </div>
        <div class="main2">
            <p class="pgone">项目团队</p>
            <div class="list">
                <{foreach $team as $v}>
                <div class="list_1">
                    <a href="<{link ctl='center-index' arg0=$v.uid}>">
                        <div class="list1_1">
                            <{if $v.team_img}>
                            <img src="<{$pager.img}>/<{$v.team_img}>" alt="" class="pull-left">
                            <{else}>
                            <img src="img/tx.png" alt="" class="pull-left">
                            <{/if}>
                        </div>
                        <div class="list1_2">
                            <span><{$v.team_name}></span>
                            <span>
                                <{$v.team_task_short}>
                            </span>
                        </div>
                    </a>
                </div>
                <{/foreach}>
            </div>
        </div>
        <div class="main3">
            <p class="pgone">全部评论</p>
            <div class="list">
                <{foreach $comment as $com}>
                <div class="list_1">
                    <div class="list1_1">
                        <img src="img/xm_34.png">
                    </div>
                    <div class="list1_2">
                        <span><{$member_list[$com.uid].uname}></span>
                        <span><{$com['content']}></span>
                        <span> <{$com['dateline']|format:"Y.m.d"}></span>
                    </div>
                </div>
                <{/foreach}>
            </div>
        </div>
        <div class="main3">
            <p class="pgone">发展历程</p>
            <div class="list">
                <div class="list_1">
                    <div class="list1_1">
                        <img src="img/xm_31.png">
                    </div>
                    <div class="list1_2">
                        <span>组建电商联盟</span>
                        <span> 2016年12月20日</span>
                    </div>
                </div>
                <div class="list_1">
                    <div class="list1_1">
                        <img src="img/xm_34.png">
                    </div>
                    <div class="list1_2">
                        <span>组建电商联盟</span>
                        <span> 2016年12月20日</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="main4">
            <p class="pgone">相关信息</p>
            <div class="center">
                <a class="a1" href="#">访问官网</a>
                <a class="a2" href="#">查看微信号</a>
            </div>
            <p class="bei">北京丰台游戏场中润佳商务大厦</p>
        </div>
        <div class="main5">
            <p class="pgone">技术人员推荐</p>
            <div class="list">
                <{foreach $tjjishu as $v}>
                <div class="list_1">
                    <div class="list1_1">
                        <{if $v.face}>
                        <img src="<{$pager.img}>/<{$v.face}>" alt="" class="pull-left">
                        <{else}>
                        <img src="img/tx.png" alt="" class="pull-left">
                        <{/if}>
                    </div>
                    <div class="list1_2">
                        <a href="tzrxq.html"><span><{$v.name}></span></a>
                        <a href="tzrxq.html"><span><{$v.city_name}> / <{$v.group_id}>年 / <{$v.group_name}><br>
                                        关注：12340 / 收藏：1256</span></a>
                    </div>
                </div>
                <{/foreach}>
                <a class="show" href="<{link ctl='designer'}>">查看更多</a>
            </div>

        </div>
        <div class="main6">
            <p class="pgone">相似项目</p>
            <div class="list">
                <{foreach $xiangsi as $v}>
                <div class="list_1">
                    <div class="list1_1">
                        <img src="<{$pager.img}>/<{$v.thumb}>">
                    </div>
                    <div class="list1_2">
                        <span><{$v.title}></span>
                        <span><{$v.cat_title}></span>
                        <span>上海/天使轮/已上线</span>
                    </div>
                </div>
                <{/foreach}>
                <a class="show" href="<{link ctl='index'}>?cat_id=<{$xiangmu.cat_id}>">查看更多</a>
            </div>

        </div>


        <div class="bottom">
            <ul>
                <li class="qub"><a href="<{link ctl='detail-xmsheji' arg0=$xiangmu.xiangmu_id}>"><i class="iconfont">&#xe600;</i><span class="sp1">关注</span></a></li>
                <li class="qub1"><a href="#"><i class="iconfont">&#xe69a;</i><span class="sp2">约谈</span></a></li>
                <li><a class="sp3" href="#">查看商业计划</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    //	     $(function() {
    //  $('button').click(function(){
    //      $(this).addClass("btn-success").siblings("button").removeClass("btn-success").addClass("btn-default");
    //      var text = $(this).text();
    //      $('p').text('切换到了' + text);
    //  });
    //});
    //展开收起
    var oDiv = document.getElementById('div1');//获取文字的盒子
    var oA = oDiv.getElementsByTagName('a');//获取 a 标签
    var onOff = true;
    var old = '';
    oA[0].onclick = function move() { //a 链接点击后执行 move 函数
        if (onOff) {  //判断
            onOff = false;
            old = oDiv.innerHTML;
            oDiv.innerHTML = oDiv.innerHTML.substring(0, 26) + '...<a style="color:blue;" href="javascript:;"> 展开 </a>';//默认显示65个字符，字符末尾添加 “...>>展开”
            oA = oDiv.getElementsByTagName('a');
            oA[0].onclick = move;
        } else {
            onOff = true;
            oDiv.innerHTML = old;
            oA = oDiv.getElementsByTagName('a');
            oA[0].onclick = move;
        }
    }
</script>


