<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><{$seo.province_name}>展馆列表_<{$seo.province_name}>展览馆信息大全_一路展<{$seo.province_name}>展馆信息</title>
    <meta name="description" content="一路展<{$seo.province_name}>展馆信息,包括展馆使用情况、展览馆介绍,为参展商提供最新最全的展览馆信息,了解展览馆信息就上一路展!">
    <meta name="Keywords" content="一路展,展装O2O,<{$seo.province_name}>展馆信息,<{$seo.province_name}>展览馆情况,<{$seo.province_name}>展览馆介绍">
    <{include file="mobile:block/header.html"}>
</head>
<body>
<!--pageSearch-->
<div data-role="page" id="pageSearch">
    <!-- 主js-->
    <div data-role="header" data-position="fixed" id="searchHeader" class="searchHeader">
        <div class="searchBack">
            <a href="/" data-rel="back"><span class="iconfont icon-left"></span></a>
        </div>
        <form method="get" action="<{link ctl='guan/index'}>" class="headerSearch">
            <input type="search" name="kw" id="searchInput" placeholder="输入您要查找的展馆名称">
            <div class="headerBack">
                <button type="submit">搜索</button>
            </div>
        </form>
    </div>

    <div data-role="main">
        <!-- 本例主要代码 Start ================================ -->
        <div id="searchTab-<{$PAGEID}>" class="searchTab" data-slideid="searchTab">
            <div class="hd" data-role="navbar" data-grid="d">
                <ul>
                    <li><a href="#" data-ajax="false">地区</a></li>
                </ul>
            </div>
            <div class="bd">
                <ul>
                    <li <{if empty($pager.province_id)}>class="active"<{/if}>><a href="<{$province_all_link}>">不限</a></li>
                    <{foreach $province_list  as $v}>
                    <li <{if $v.province_id==$pager.province_id}>class="active"<{/if}>><a href="<{$v.link}>"><{$v.province_name}></a></li>
                    <{/foreach}> 
                </ul>
            </div>
        </div>
        <!-- 本例主要代码 End ================================ -->
    </div>
<{include file="mobile:block/footer.html"}>
